block header 
  .FakeBackGround
  .header
    .leftHeader
      a#appSwitcher(href='#')
        svg(width='75' height='24' viewbox='0 0 75.89 24')
          g.cls-2
            path.cls-3(d='M69.31 20.67l4.22.71.26 2.63h-6.26l.11-1 4.48-.18v-.48l-4.3-.74.26-2.64h5.21l.1 1.05-4 .15zm-36.23 1.27l.06-1H36l.17 3.06h-6.52l.51-5.08h5.71l.07 1.05-4.43.1-.14 2.79 3.22.09v-1zm27.63.04v.87l4.1.1v1H59l.17-5.08h5.53v1.05l-4.1.09v.89h3.11v1z')
            path.cls-4(d='M43.87 24h1.75l-1.39-5.08h-4.11L38.74 24h1.75l.27-1.28h2.85zm-2.9-2.25l.35-1.66 1.69-.08.36 1.67z')
            path.cls-3(d='M56.28 24l-.52-5.08h-1.47l-2.12 2.42-2.11-2.42h-1.48L48.07 24h1.73l.17-3.29 2.2 2.24 2.21-2.24.17 3.29z')
            path.cls-4(d='M43.2 16.03h-4.55l-1.21-5.54-2.93 1.59-.1 3.95h-4.07l1.26-12.4-2.6.09.38-3.41h11.61l1.61 7.38-2.36 1.28zM38.09 3.42l-3.34.11-.13 4.82 3.85-1.8z')
            path.cls-3(d='M48.87.31h-3.46l-.32 15.72h4.19zm26.64 0l.36 3.44-4.24-.14 1.24 12.42h-4.19l-.35-12.54-3.41-.11-.09-3.07z')
            path.cls-4(d='M52.18.32h10.8l.77 15.71h-12zm3.63 12.43l3.82-.12v-9l-4-.12z')
            path.cls-3(d='M0 6.97l14.86-7 8.69 2.1L22 17.44h-4.41l-.82-11.2-.47.15-.78 11.05h-3.34l-1.59-9.29-.47.14.12 9.15H7.09L5.27 9.78l-.47.15.53 7.51h-3zm11.22 11.98l1.09 2.81 9 2.23.47-4.49z')
        svg(width='8' height='5' viewbox='0 0 8 5')
          path(d='M.707 1.707l2.586 2.586a1 1 0 001.414 0l2.586-2.586C7.923 1.077 7.477 0 6.586 0H1.414C.524 0 .077 1.077.707 1.707z' fill='#7E7E7E')
      .leftHeaderContent
        .LeftSubHeader
          a#appSwitcher2(href='#')
            svg(width='75' height='24' viewbox='0 0 75.89 24')
              g.cls-2
                path.cls-3(d='M69.31 20.67l4.22.71.26 2.63h-6.26l.11-1 4.48-.18v-.48l-4.3-.74.26-2.64h5.21l.1 1.05-4 .15zm-36.23 1.27l.06-1H36l.17 3.06h-6.52l.51-5.08h5.71l.07 1.05-4.43.1-.14 2.79 3.22.09v-1zm27.63.04v.87l4.1.1v1H59l.17-5.08h5.53v1.05l-4.1.09v.89h3.11v1z')
                path.cls-4(d='M43.87 24h1.75l-1.39-5.08h-4.11L38.74 24h1.75l.27-1.28h2.85zm-2.9-2.25l.35-1.66 1.69-.08.36 1.67z')
                path.cls-3(d='M56.28 24l-.52-5.08h-1.47l-2.12 2.42-2.11-2.42h-1.48L48.07 24h1.73l.17-3.29 2.2 2.24 2.21-2.24.17 3.29z')
                path.cls-4(d='M43.2 16.03h-4.55l-1.21-5.54-2.93 1.59-.1 3.95h-4.07l1.26-12.4-2.6.09.38-3.41h11.61l1.61 7.38-2.36 1.28zM38.09 3.42l-3.34.11-.13 4.82 3.85-1.8z')
                path.cls-3(d='M48.87.31h-3.46l-.32 15.72h4.19zm26.64 0l.36 3.44-4.24-.14 1.24 12.42h-4.19l-.35-12.54-3.41-.11-.09-3.07z')
                path.cls-4(d='M52.18.32h10.8l.77 15.71h-12zm3.63 12.43l3.82-.12v-9l-4-.12z')
                path.cls-3(d='M0 6.97l14.86-7 8.69 2.1L22 17.44h-4.41l-.82-11.2-.47.15-.78 11.05h-3.34l-1.59-9.29-.47.14.12 9.15H7.09L5.27 9.78l-.47.15.53 7.51h-3zm11.22 11.98l1.09 2.81 9 2.23.47-4.49z')
            svg.svgUp(width='8' height='5' viewbox='0 0 8 5')
              path(d='M.707 1.707l2.586 2.586a1 1 0 001.414 0l2.586-2.586C7.923 1.077 7.477 0 6.586 0H1.414C.524 0 .077 1.077.707 1.707z' fill='#7E7E7E')
          a#left-header-content-close(href='#')
            svg(width='32' height='32' viewbox='0 0 32 32')
              title burgerNavClose
              circle(opacity='.07' cx='16' cy='16' r='16' fill='#F9F9F9')
              path(d='M12.007 11.973l8.132 8.132m-8.146-.012l8.131-8.132' stroke='#C7C7C7' stroke-width='2')
        .leftTagContent
          .leftTagContentWrapper
            .leftTag
              .leftTagItems
                .leftTagItemsTitle
                  | EVENTS
                .leftTagItemsContent
                  #Link1.leftTagItemsSubContent
                    a(href='https://riotxarcane.riotgames.com/en-us/?utm_source=riotbar&utm_medium=productcard%2Bwww.riotgames.com&utm_campaign=riotxarcane&utm_content=rxa_keyart01' target='_blank')
                      span.leftTagItemsSubContentLinkText RIOTX ARCANE
              .leftTagItems
                .leftTagItemsTitle
                  | GAMES
                .leftTagItemsContent
                  .leftTagItemsSubContent
                    a(href='https://www.leagueoflegends.com' target='_blank')
                      span.leftTagItemsSubContentLinkText LEAGUE OF LEGENDS
                  .leftTagItemsSubContent
                    a(href='https://playvalorant.com' target='_blank')
                      span.leftTagItemsSubContentLinkText VALORANT
                  .leftTagItemsSubContent
                    a(href='https://teamfighttactics.leagueoflegends.com' target='_blank')
                      span.leftTagItemsSubContentLinkText TEAMFIGHT TACTICS
                  .leftTagItemsSubContent
                    a(href='https://playruneterra.com' target='_blank')
                      span.leftTagItemsSubContentLinkText LEGENDS OF RUNETERRA
                  .leftTagItemsSubContent
                    a(href='https://wildrift.leagueoflegends.com' target='_blank')
                      span.leftTagItemsSubContentLinkText LOL: WILD RIFT
              .leftTagItems
                .leftTagItemsTitle
                  | FORGE
                .leftTagItemsContent
                  .leftTagItemsSubContent
                    a(href='https://hextechmayhem.com' target='_blank')
                      span.leftTagItemsSubContentLinkText HEXTECH MAYHEM
                  .leftTagItemsSubContent
                    a(href='https://ruinedking.com' target='_blank')
                      span.leftTagItemsSubContentLinkText RUINED KING
                  .leftTagItemsSubContent
                    a(href='https://convrgencegame.com' target='_blank')
                      span.leftTagItemsSubContentLinkText CONV/RGENCE
                  .leftTagItemsSubContent
                    a(href='https://songofnunu.com' target='_blank')
                      span.leftTagItemsSubContentLinkText SONG OF NUNU
                  .leftTagItemsSubContent
                    a(href='https://riotforgegames.com' target='_blank')
                      span.leftTagItemsSubContentLinkText RIOT FORGE GAMES
              .leftTagItems
                .leftTagItemsTitle
                  | ESPORTS
                .leftTagItemsContent
                  .leftTagItemsSubContent
                    a(href='https://lolesports.com' target='_blank')
                      span.leftTagItemsSubContentLinkText LOL ESPORTS
                  .leftTagItemsSubContent
                    a(href='https://valorantesports.com' target='_blank')
                      span.leftTagItemsSubContentLinkText VALORANT ESPORTS
              .leftTagItems
                .leftTagItemsTitle
                  | ENTERTAINMENT
                .leftTagItemsContent
                  .leftTagItemsSubContent
                    a(href='https://arcane.com' target='_blank')
                      span.leftTagItemsSubContentLinkText ARCANE
                  .leftTagItemsSubContent
                    a(href='https://universe.leagueoflegends.com' target='_blank')
                      span.leftTagItemsSubContentLinkText UNIVERSE
                  .leftTagItemsSubContent
                    a(href='https://linktr.ee/riotgamesmusic' target='_blank')
                      span.leftTagItemsSubContentLinkText RIOT GAMES MUSIC
              .leftTagItems
                .leftTagItemsTitle
                  | BUSINESS
                .leftTagItemsContent
                  .leftTagItemsSubContent
                    a(href='https://www.riotgames.com' target='_blank')
                      span.leftTagItemsSubContentLinkText RIOT GAMES
                  .leftTagItemsSubContent
                    a(href='https://merch.riotgames.com' target='_blank')
                      span.leftTagItemsSubContentLinkText RIOT MERCH
                  .leftTagItemsSubContent
                    a(href='https://www.leagueoflegends.com/en-us/news/riot-games/hello-riot-mobile-farewell-league/' target='_blank')
                      span.leftTagItemsSubContentLinkText RIOT MOBILE
                  .leftTagItemsSubContent
                    a(href='https://support.riotgames.com/hc/en-us/' target='_blank')
                      span.leftTagItemsSubContentLinkText RIOT SUPPORT
            .rightTag
              .rightTagWrapper
                .rightTagItems
                  .rightTagItemsImgHolder
                    a(href='')
                      div
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltf2de187ba65cf562/6192aa5a4a9f386e6e594adc/RK--Riotbar-Promo-Card.jpg??&format=pjpg&quality=85' alt='Ruined King:  A League of Legends Story' title='Ruined King:  A League of Legends Story')
                  .rightTagItemsDesc
                    h4 Ruined King:  A League of Legends Story
                .rightTagItems
                  .rightTagItemsImgHolder
                    a(href='')
                      div
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt54cf3be534092159/618e1e666407fe7f991e9a99/EN-US_RiotXArcane_RiotbarPromocard-UndercityNightstrailer_660x428.jpg??&format=pjpg&quality=85' alt='RiotX Arcane Undercity Nights Trailer' title='RiotX Arcane Undercity Nights Trailer')
                  .rightTagItemsDesc
                    h4 RiotX Arcane Undercity Nights Trailer
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltf63e9fcca0f5d2c5/617bad9d9ff3ae1079a91b71/rxa-keyart-01.jpg??&format=pjpg&quality=85' alt='RIOTX ARCANE' title='RIOTX ARCANE')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(17, 113, 200) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt47f31bd6337bbe2b/617bad7ce9faf11063032459/RiotXArcane_Vertical_AllWhite.png?' alt='RIOTX ARCANE' title='RIOTX ARCANE')
                      .rightItemsBigCardTitleDecs
                        span Earn in-game rewards and learn more about Riot&apos;s games.
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltec61b41b43cdd8c1/615a859d1be8434dc3bd0813/lol.jpg??&format=pjpg&quality=85' alt='LEAGUE OF LEGENDS' title='LEAGUE OF LEGENDS')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(80, 104, 125) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt552dded80f2748be/617b98996ebcf2105acca851/xp1-lol-logo.png?' alt='LEAGUE OF LEGENDS' title='LEAGUE OF LEGENDS')
                      .rightItemsBigCardTitleDecs
                        span Face off in the ultimate 5v5 battle arena
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltfe3ec63b7fe1259f/617e104238150b1072a1eb43/val-keyart-riotbar-xp.jpg??&format=pjpg&quality=85' alt='VALORANT' title='VALORANT')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(68, 79, 91) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt7dde242cdb9e437a/617b99f9ca49a0105c0b6c24/xp1-val-logo.png?' alt='VALORANT' title='VALORANT')
                      .rightItemsBigCardTitleDecs
                        span Style on your enemies in this 5v5 tactical shooter
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt382c772b746aee68/61822d434f03d16675738048/tft-keyart-riotbar-xp.jpg??&format=pjpg&quality=85' alt='TEAMFIGHT TACTICS' title='TEAMFIGHT TACTICS')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(139, 121, 229) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt063930fb5a7986ed/617b99f9141afd10716d8d95/xp1-tft-logo.png?' alt='TEAMFIGHT TACTICS' title='TEAMFIGHT TACTICS')
                      .rightItemsBigCardTitleDecs
                        span A TEAM-BUILDING BATTLE OF WITS
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt9ab6d81e23ac2a03/6185e705898f1d7860f28ee1/111021_LoR_XP2021_TPOC-RiotBarSwitcher_1920x1080.jpg??&format=pjpg&quality=85' alt='LEGENDS OF RUNETERRA' title='LEGENDS OF RUNETERRA')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(84, 163, 227) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt3454845dfbdd82f2/617b99f9fc289c10809a1d7d/xp1-lor-logo.png?' alt='LEGENDS OF RUNETERRA' title='LEGENDS OF RUNETERRA')
                      .rightItemsBigCardTitleDecs
                        span Master every moment in this strategy card game
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltd64089e018c89048/615a85a49c76234dd174c199/Wildrift.jpg??&format=pjpg&quality=85' alt='LOL: WILD RIFT' title='LOL: WILD RIFT')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(160, 193, 236) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltfc78a3b511dfb4ad/617b99f9b187491e7c56e0b2/xp1-wr-logo.png?' alt='LOL: WILD RIFT' title='LOL: WILD RIFT')
                      .rightItemsBigCardTitleDecs
                        span LEAGUE OF LEGENDS, NOW ON MOBILE
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt8589cd81c00f5c6a/6189ee6d666f1777c9bcfa52/JFG_Key_Art_T2AV2.jpg??&format=pjpg&quality=85' alt='HEXTECH MAYHEM' title='HEXTECH MAYHEM')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(172, 76, 84) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt81b7c65225c3f1a5/618a1491666f1777c9bcfa87/HextechMayhem_Logo_v1.png?' alt='HEXTECH MAYHEM' title='HEXTECH MAYHEM')
                      .rightItemsBigCardTitleDecs
                        span Riot Forge Presents Hextech Mayhem
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt160d084323f31a63/615a859c7ab23a526f225189/ruined_king.jpg??&format=pjpg&quality=85' alt='RUINED KING' title='RUINED KING')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(116, 193, 175) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt3b981873fd7d9af2/615a8521c34d415711f7e1da/Ruined_King.svg?' alt='RUINED KING' title='RUINED KING')
                      .rightItemsBigCardTitleDecs
                        span RISE AGAINST RUIN IN THIS TURN BASED RPG
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt15a80d65a2698d1f/615a859d8f1f7b55821485ee/convergence.jpg??&format=pjpg&quality=85' alt='CONV/RGENCE' title='CONV/RGENCE')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(173, 110, 137) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt07a59d6098466b37/615a8d7df2882661476b6adb/convergence-logo.png?' alt='CONV/RGENCE' title='CONV/RGENCE')
                      .rightItemsBigCardTitleDecs
                        span EXPLORE ZAUN AS EKKO IN THIS ACTION PLATFORMER
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltf9eb503252c8233e/6192ffed4ce2b23a1fb3c548/Everson_KeyArt01.jpg??&format=pjpg&quality=85' alt='SONG OF NUNU' title='SONG OF NUNU')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(66, 88, 166) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt82483189394f6bb2/6192ffc6652f291696fdbf79/SoN_Logo_English_v2.png?' alt='SONG OF NUNU' title='SONG OF NUNU')
                      .rightItemsBigCardTitleDecs
                        span A Song Lives Forever
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt8e6f343314f438ee/615d4fd6f2882661476b77da/Riot_Forge.jpg??&format=pjpg&quality=85' alt='RIOT FORGE GAMES' title='RIOT FORGE GAMES')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(48, 76, 64) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt311c430e578b5709/615a85179c76234dd174c189/Riot_Forge.svg?' alt='RIOT FORGE GAMES' title='RIOT FORGE GAMES')
                      .rightItemsBigCardTitleDecs
                        span PUBLISHER OF COMPLETABLE EXPERIENCES FROM THE LEAGUE UNIVERSE
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltaaa2abc355d4d9c3/615a859dc34d415711f7e1de/LOL_esports.jpg??&format=pjpg&quality=85' alt='LOL ESPORTS' title='LOL ESPORTS')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(90, 190, 205) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltc17958de67f1cdc3/615a8518c34d415711f7e1d6/LOL_ES.svg?' alt='LOL ESPORTS' title='LOL ESPORTS')
                      .rightItemsBigCardTitleDecs
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt8f5028c9d7b8acb6/615a85a4e289fa55888ed5bd/valorant_esports.jpg??&format=pjpg&quality=85' alt='VALORANT ESPORTS' title='VALORANT ESPORTS')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(147, 34, 28) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt23e7b45b5dfd91db/615a852158e1f54c5cbc5683/Valorant_ES.svg?' alt='VALORANT ESPORTS' title='VALORANT ESPORTS')
                      .rightItemsBigCardTitleDecs
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blta84d6d394801dedb/615a859d9c76234dd174c195/arcane.jpg??&format=pjpg&quality=85' alt='ARCANE' title='ARCANE')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(43, 61, 109) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltd307b99a6713cbe9/615a8517a4d10c511f1ad399/arcane.svg?' alt='ARCANE' title='ARCANE')
                      .rightItemsBigCardTitleDecs
                        span AN ANIMATED SERIES ON NETFLIX FROM THE WORLD OF LEAGUE OF LEGENDS
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltea74e94e1296b057/615a8fccc22cd45706cf29fe/universe.jpg??&format=pjpg&quality=85' alt='UNIVERSE' title='UNIVERSE')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(35, 83, 87) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        span UNIVERSE
                      .rightItemsBigCardTitleDecs
                        span THE DEFINITIVE SOURCE FOR THE WORLD OF LEAGUE OF LEGENDS
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt4303739f818a50e3/615a859d054fcd4c567205ab/Riot_Music.jpg??&format=pjpg&quality=85' alt='RIOT GAMES MUSIC' title='RIOT GAMES MUSIC')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(121, 49, 123) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        span RIOT GAMES MUSIC
                      .rightItemsBigCardTitleDecs
                        span MUSIC HAS A NEW HOME
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltf2aeb4512fc8f095/615a859ddb34085ff954a028/Riot_Games.jpg??&format=pjpg&quality=85' alt='RIOT GAMES' title='RIOT GAMES')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(212, 190, 179) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        img(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltdfb70c03b3019cc8/615a8517e289fa55888ed5b3/Riot_Logo_Full.svg?' alt='RIOT GAMES' title='RIOT GAMES')
                      .rightItemsBigCardTitleDecs
                        span UNLEASH PLAY
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/blt1313d1f5e9424233/615a859d7ab23a526f22518d/Riot_Merch.jpg??&format=pjpg&quality=85' alt='RIOT MERCH' title='RIOT MERCH')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(0, 61, 90) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        span RIOT MERCH
                      .rightItemsBigCardTitleDecs
                        span THE OFFICIAL HOME OF RIOT GAMES MERCH
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltb984b7fd7649c9b0/615a93758f1f7b5582148611/riot-mobile.jpg??&format=pjpg&quality=85' alt='RIOT MOBILE' title='RIOT MOBILE')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(252, 63, 67) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        span RIOT MOBILE
                      .rightItemsBigCardTitleDecs
                        span YOUR MOBILE COMPANION FOR ALL THINGS RIOT GAMES
              .rightTagWrapper
                .rightTagItemsBig
                  .rightItemsBigCard
                    img.rightItemsBigCardImg(src='https://images.contentstack.io/v3/assets/blt0eb2a2986b796d29/bltb67b232cf8d5069f/617b29d861f3c21067237706/riot-support-2.jpg??&format=pjpg&quality=85' alt='RIOT SUPPORT' title='RIOT SUPPORT')
                    .rightItemsBigCardTitle(style='background-image: radial-gradient(160.43% 179.54% at 100.43% 100%, rgb(234, 0, 40) 0%, rgb(10, 10, 10) 70%);')
                      .rightItemsBigCardTitleImg
                        span RIOT SUPPORT
                      .rightItemsBigCardTitleDecs
                        span FROM TECH TO TILT, WE&rsquo;RE HERE TO HELP YOU
    .centerHeader
      ul.navLinks
        li#homeLogo.homeLogo
          svg#Layer_1(xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewbox='0 0 180 180')
            defs
            path.cls-1(d='M180,90a90,90,0,1,0,90,90A90,90,0,0,0,180,90Zm34.7,138.71-36.44-9.05-4.43-11.41,42.7,2.2Zm2.6-26.5H199.53l-3.33-45.45-1.87.58-3.17,44.87H177.73l-6.42-37.73-1.88.58.47,37.15H157.21l-7.34-31.08-1.88.58,2.11,30.5H137.89l-9.26-42.63,59.88-28.29,35,8.53Z' transform='translate(-90 -90)')
        li
          a(href='#') Về chúng tôi
          svg(width='10' height='5' viewbox='0 0 8 5')
            title mainNavArrowDown
            path(d='M.707 1.707l2.586 2.586a1 1 0 001.414 0l2.586-2.586C7.923 1.077 7.477 0 6.586 0H1.414C.524 0 .077 1.077.707 1.707z' fill='#7E7E7E')
          ul.dropdown(aria-label='submenu')
            li
              a(href='#') Tầm nhìn
            li
              a(href='#') Sứ mệnh

        li
          a(href='./news') Tin tức
      .barArea
        .searchBarBox.centerSearch
          input#searchInp(type='text' name='' placeholder='TÌM KIẾM')
          button.submitButton
            i.fas.fa-search
        if !user
          a.signInBtn(href='./login') ĐĂNG NHẬP
        else 
          a.signInBtn(href='#') Xin chào #{user.name}
    .rightHeaderWrapper
      .menuIcon
        svg(width='32' height='32' viewbox='0 0 32 32')
          title burgerNav
          circle(opacity='.07' cx='16' cy='16' r='16' fill='#F9F9F9')
          path(fill='#C7C7C7' d='M22 10v2H10v-2zm0 5v2H10v-2zm0 5v2H10v-2z')
      .rightHeader
        .rightSubHeader
          li#homeLogo.homeLogo
            svg#Layer_1(xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewbox='0 0 180 180')
              defs
                style.
                  .cls-1{fill:#fcfcfc;}
              path.cls-1(d='M180,90a90,90,0,1,0,90,90A90,90,0,0,0,180,90Zm34.7,138.71-36.44-9.05-4.43-11.41,42.7,2.2Zm2.6-26.5H199.53l-3.33-45.45-1.87.58-3.17,44.87H177.73l-6.42-37.73-1.88.58.47,37.15H157.21l-7.34-31.08-1.88.58,2.11,30.5H137.89l-9.26-42.63,59.88-28.29,35,8.53Z' transform='translate(-90 -90)')
          a#close-btn(href='#')
            svg(width='32' height='32' viewbox='0 0 32 32')
              title burgerNavClose
              circle(opacity='.07' cx='16' cy='16' r='16' fill='#F9F9F9')
              path(d='M12.007 11.973l8.132 8.132m-8.146-.012l8.131-8.132' stroke='#C7C7C7' stroke-width='2')
        ul.rightHeaderContent
          li#loginRightHeader.linkActive
            a(href='./login') đăng nhập
          li#rightHeaderLink1
            a về chúng tôi
            span.mobileSpanArrow
              svg(width='5' height='9' viewbox='0 0 5 9')
                title subMenuRight
                path(d='M1.707 7.793l2.586-2.586a1 1 0 000-1.414L1.707 1.207C1.077.577 0 1.023 0 1.914v5.172c0 .89 1.077 1.337 1.707.707z' fill='#7E7E7E')
          
          li#newsRightHeader
            a(href='./news') tin tức
          li(style='background-color: #212121;')
            .searchBarBox
              input#searchInp(type='text' name='' placeholder='TÌM KIẾM')
              button.submitButton
                i.fas.fa-search
  .rightHeaderSubContent.rightHeader
    .rightSubHeader
      li#homeLogo1
        svg(width='5' height='8' viewbox='0 0 5 8')
          title subMenuBack
          path(d='M3.293 7.293L.707 4.707a1 1 0 010-1.414L3.293.707C3.923.077 5 .523 5 1.414v5.172c0 .89-1.077 1.337-1.707.707z' fill='#7E7E7E')
        span.subHeaderTitle Who We Are
      a#close-btn2(href='#')
        svg(width='32' height='32' viewbox='0 0 32 32')
          title burgerNavClose
          circle(opacity='.07' cx='16' cy='16' r='16' fill='#F9F9F9')
          path(d='M12.007 11.973l8.132 8.132m-8.146-.012l8.131-8.132' stroke='#C7C7C7' stroke-width='2')
    ul.rightHeaderContent
      li
        a about aki riot
      li
        a diversity and inclusion
      li
        a social impact
  .rightHeaderSubContent2.rightHeader
    .rightSubHeader
      a#close-btn-3(href='#')
        svg(width='32' height='32' viewbox='0 0 32 32')
          title burgerNavClose
          circle(opacity='.07' cx='16' cy='16' r='16' fill='#F9F9F9')
          path(d='M12.007 11.973l8.132 8.132m-8.146-.012l8.131-8.132' stroke='#C7C7C7' stroke-width='2')
    ul.rightHeaderContent
      li
        a jobs
      li
        a offices
      li
        a life at riot