extends layout
append head
  link(rel='stylesheet' href='./css/news.css')
  link(rel='stylesheet' href='./css/footer.css')
  title Tin mới


block content
  #top.container
    .row
      .col-1-3
        .hero
          .heroBg
          .heroFilter
            .heroFilterInner
              .heroFilterCenter
                .heroFilterSelect
                  h2(style='z-index: 10;') Hiển thị
                  | aki
                  button.filterButton
                    | Tất cả
                    span.filterIcon(aria-hidden='true' style='width: 12px; height: 7px; line-height: 7px;')
                      svg(viewbox='0 0 12 7')
                        path(d='M10.7 0L6 4.5 1.3 0 0 1.3 6 7l6-5.7z')
          .heroPost(style='padding-bottom: 20%;')
            .heroContentInner
              .heroContent
                a.postLink(href='./newspostview.html')
                .contentImg
                  .resDiv
                    img(src='https://www.riotgames.com/darkroom/1000/0a8b4600c88cc7e4bd392b90405f892a:aa7ab93ba3d3e8a04ce6d43862b1b73f/11-20-embargo-riot-riotxarcane-phase02-4k.jpg' alt='' loading='lazy')
                  .typeCategory
                    .brush-icon
                      span.icon.brushIconBg(aria-hidden='true' style='width:50px;height:50px;line-height:50px')
                        svg(viewbox='0 0 50 50')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M30.7.3c-.3.1-.4 0-.4-.3 1 .5 1.2.2 2.1.3.3.3.3.5-.1.8.6.4.9-1.3 1.4-.4-.2.1-.3.2-.5.3.1.2 4.3.2 4.9.5 1 .5 4.5 2.7 4.5 3.6-.1.1-.3.2-.4.3 0 0 1.6 2.1 1.7 2.3.7 1.2 1.1 1.9 1.6 2.8 1 1.9 2.2 4.2 1.8 6.2 1.1.3.9.9.3 1.5 0 .2 1.2 1.9 1.4 2.7.3 1 .4 2.4.6 3.7.1 1.2.8 4.9.2 6-.2.5-2.2 1.2-2.2 1.3-.3.4-.1.8-.5 1.2-.8.8-1.2 2-1.8 2.8-1.2 1.6-2.4 3.1-3.9 4.5-2.8 2.6-5.3 5-9.1 6.6-3.1 1.3-6.9 3.5-10.5 2.4-.2.1-.4.3-.4.6-.2.1-1-.6-1.3-.6.2.3.1.5-.2.6-1.5-1.4-6.8-.5-7.4-3.1-1.6.4-1.2-.4-2.2-1-.4-.2-2.4-1.4-3.2-1.9-1-.6-2.2-1.6-2.9-2.4-1.3-1.5-.5-.5-.1-2.3-.2-.6-1.5 1.3-1.4 1.2-.3.1-1.4-1.3-1.4-1.5.8.1.5.9 1 .9.7.1-.5-1.4-.3-1.7.2.3.5.3.7 0 .4-.7-1.1-.7-1.3-1 0-.2.2-.4.4-.4-.1-.6-1.3.3-1.2-.5 1.4-.6-.5-1-.3-1.7.5.4.8.3.9-.3-.6-.3-1.1-1-1.2-1.4 0-.3 2.2 2.5 2.6 2.5.3 0-1.2-1.9-1.3-2.1.7-.1 1 .9 1.4.6 0 0-1-1.7-.9-1.4.2-.4.4.5.8-.4-.4-.3-.3.8-.6-.3.1 0 .3-.1.4-.2-.2-.5-1.2.1-1.6-.1.2-.3.2-.6-.2-.9 0 0 1.3 1.1 1.3.3-.1-.2-.3-.3-.5-.3.1-1 1.7 1.1 1.7 1.1.6-.1-.8-2.2-.7-2.3.2-.1.5-.1.7 0 .7-.8-1.4-.1-.6-.8.9-.2 0 .3-.2-.6.5-.6.6.1.7-.9-.3-.1-.6-.2-.8-.5.1-.2.3-.3.6-.2-.7-4.7-.8-9 1.4-13.1C5.4 10.8 7 9.5 9.3 8.2c.9-.5 1.9-1.2 2.8-1.7.8-.5 2.6-1.1 3.1-1.6-.2-.3-.5-.3-.8-.1.1-.8 2.3-1.2 2.6-1.1.3-.1 1.6-1.5 2.1-1.8.7-.4 1.3-.6 2.4-.8.9-.2 4.1-1 2.9-.3.9.3.8-.9 1.5-.1.4-.1 4.8-1.1 4.8-.4zm4.4 1.2c.1.2.3 0 .3-.2-.2.1-.3 0-.3.2zm1 .1c.1.1.4 0 .3-.2-.1-.1-.3 0-.3.2zM18.5 2.7c.2 0 .3-.1.3-.3-.2 0-.3.1-.3.3zm22.6 1.9c0 .2.5.3.6 0-.2-.2-.7-.3-.6 0zm2.5 3.8c.2.1.3-.1.3-.3-.2-.1-.4.1-.3.3zM8.5 25.8c.1 0 .3 0 .3-.2-.1-.1-.4 0-.3.2zm.3.6c.1.5.7-.1.6-.2-.2.1-.4.2-.6.2zm-1 .3s.1 0 0 0c.8.2.3-.7 0 0zm1 .2c-.2 0-1.7.1-1.7.5.2.4 1 0 .5.6.3.2.6.2.9 0 0-.3-.5 0-.5-.3-.1 0 1.8-.7.8-.8zm.7.9l-.9.3c.4.4 1.1 0 .9-.3zm.6.2c.1 0 .1 0 .2-.1-.1 0-.2 0-.2.1zm-3 .1c.1 0 .4.2.5-.1-.1-.1-.6-.2-.5.1zm2.5.5c-.4-.1-.5.5-.7.8.4-.1 1.4-.3 1.9-.7-.4-.3-.8-.3-1.2-.1zm-1.8.1c-.1 0-1.2-.1-1.2.3.1.1 2.1.7 2.2.4-.1-.9.2-.3.2-.7-.4-.1-.8-.1-1.2 0zm2 .6c-.1.7-1.1.6-1.2.9.2.2 1.8.1 1.8 0-.1.1.3-1.2.3-1.2-.2.2-.5.2-.9.3zm1.3.3c.1-.2 0-.3-.2-.4 0 .3-.1.4.2.4zm.3.5c-.2-.2-.4-.2-.6.1 0 0 1.1.8 1.2.8.1 0 .2-.8.2-.9h-.8zm-8.8 2.8c-.1.3.5.5.5.2-.1-.3-.4-.5-.5-.2zm.7 1c.1 0 .2-.1.2-.2-.2-.2-.6.2-.2.2zm-.8.4c-.1.4.8.3.7-.1-.2 0-.5.1-.7.1zm.5.7c0 .5.8.6.8 0H3zm-1.9.4c.1.1 1.2 1.5 1.1.4 0-.1-1.1-1.1-1.1-.4zm1.5.6c.6.2.8.1.6-.5-.2.2-.4.3-.6.5zm6.9.6c.9.1 1.1-.1.8-.8-.6 0-.9.2-.8.8zm-.5-.3c0-.3-.6-.3-.7 0 .2.2.7.3.7 0zm-7.1.6l.8-.3c-.4-.2-.7-.1-.8.3zm7.7-.1c-.3-.2-.6-.1-.8.2.3.3.9.3.8-.2zm-.3.9c.1.1.8.6.9.5 0 0-.4-1.9-.9-.5zm.1.8c.1 0 .2-.2.2-.4-.3-.1-.5.3-.2.4zm-6.7 0c.4.6.6.5.6-.3-.1.1-.3.2-.6.3zm9.1 1.1c.5.3.5-.7.5-.8-.5.1-.6.3-.5.8zM8.4 39c-.4-.2-.3.5.4.1.8-.4-.6 0-.4-.1zm11.1.3c-.5.2-.4.4.1.5.4-.2.5-.5.3-.9-.2 0-.4.1-.4.4zm-1.7.3c-.4.5.7.3.7 0-.3-.1-.5-.1-.7 0zm-.7.2c.2 0 .2-.1.3-.2-.2-.2-.5 0-.3.2zm-8.8 0c.1 0 1.6.5 1.3-.2-.3 0-1.3-.1-1.3.2zm4.1.1c-.4.4-.4.5.2.3 0-.3-.4-1-.2-.3zm-6.9.2c-.8.1-1.9-.1-2 1.1.3 0 1.3-1.7 1.7-.6-.2 0-.4.2-.5.4.6.7.4-.1.8.6.6-.2.1-1.2 0-1.5zm5.5.2c-.6-.1.5.7.7 0-.3-.2-.5-.2-.7 0zm-1.1.2c.2 0 .2-.1.4-.1 0-.4-.4-.2-.4.1zm-.4 0c.1-.1.3 0 .4 0 0-.3-.6-.3-.4 0zm2.3.5c.1 0 .1-.1 0-.2.1.2 0 .2 0 .2zm-2 .1c-.3.7.4.9.9.8 0-.1-.3-1-.3-.9-.1-.1-.3-.1-.6.1zm1.4-.1c-.3.4-.2 1.7-.6 2.3 0 0 2.9-2.6 3-2-.2 0-2.7.1-2.4-.3zm3.4 1c-.4-.1-.8.1-1.1.4.6.9.9-.8.7.6.1 0 .9.1 1.1.2 0-1.1 0-.5-.7-1.2zm1.9.3c.2-.2 0-.4-.3-.3 0 .2.1.3.3.3zm-5.8.1c0 .2.3.1.3-.1-.1 0-.3 0-.3.1zm4.8.4c.4.4.6.3.7-.2-.2 0-.5 0-.7.2zm-1.8.1c.1.2.4-.1.1-.2 0 .1-.1 0-.1.2zm-1.8.1c-.4.7.7 1.3.9.6-.4-.4-.3-.4-.9-.6zm5.1.2c0 .4.8.4.9.2 0-.2-.7-.3-.9-.2zm-2.9.4c.2.1.5.1.5-.2-.2-.1-.5-.1-.5.2zm-1.2.1c.2 0 .5.1.5-.2-.1-.1-.5-.1-.5.2zm-1.6.2c0 .2-.2.9.1.9.5-.6.3-.3.5-1.1-.2.1-.4.2-.6.2zm2.7.2c.1-.1.1-.2 0-.3-.1.1-.2.2 0 .3zm2.8 0c.1.6.5.4.7.9-.1.1-.7.5-.7.6 1.9.6.1-2.4 0-1.5zm-2 .2c.1 0 .2-.1.3-.1 0-.3-.3-.1-.3.1zm-1.7-.1c.3-.4-.1 1.8-.1 1.6 1 .3 1.4-.1 1.2-1-.9.2-.5 0-.5-.7-.2.1-.4.1-.6.1zm-.7.1c-.1.3.5.4.5.1-.1-.3-.4-.3-.5-.1zm2.6.7c.3.1.6-.1.7-.3-.2-.2-.6 0-.7.3zm-2.7.3c.3.2.8.1.8-.3-.2.1-.9-.2-.8.3zm3.5.5c.1 0 .2-.1.2-.2-.1-.1-.3.1-.2.2zm-1.3.8c.2 0 .3-.1.3-.3-.2-.3-.6 0-.3.3zm1.8-.2c.1 0 .2.1.3.1.1-.1-.2-.2-.3-.1z')
                      span.icon.brushIconType(aria-hidden='true' style='width:14px;height:18px;line-height:18px')
                        svg(viewbox='0 0 14 18')
                          path(d='M2 3.7L10.3 9 2 14.3V3.7zM0 18l14-9L0 0v18z')
                .contentPadded
                  .itemTag
                    span news
                  h2.itemHeader
                    span RiotX Arcane: Until Next Time
                  p.itemDesc
                    | Thank you to everyone who has watched Arcane and for making this an unforgettable moment. We&rsquo;ve never been more excited about the future.
                  time.itemDate Nov 22, 2021
        .grid
          .gridInner
            .grid-4-items
              .gridItem
                a.postLinkSmall(href='#')
                .contentImg
                  .resDiv
                    img(src='./img/aki1000x563.png' alt='' loading='lazy' width='600' height='337')
                    .typeCategorySmall
                      .brush-icon
                        span.icon.brushIconBg(aria-hidden='true' style='width:50px;height:50px;line-height:50px')
                          svg(viewbox='0 0 50 50')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M30.7.3c-.3.1-.4 0-.4-.3 1 .5 1.2.2 2.1.3.3.3.3.5-.1.8.6.4.9-1.3 1.4-.4-.2.1-.3.2-.5.3.1.2 4.3.2 4.9.5 1 .5 4.5 2.7 4.5 3.6-.1.1-.3.2-.4.3 0 0 1.6 2.1 1.7 2.3.7 1.2 1.1 1.9 1.6 2.8 1 1.9 2.2 4.2 1.8 6.2 1.1.3.9.9.3 1.5 0 .2 1.2 1.9 1.4 2.7.3 1 .4 2.4.6 3.7.1 1.2.8 4.9.2 6-.2.5-2.2 1.2-2.2 1.3-.3.4-.1.8-.5 1.2-.8.8-1.2 2-1.8 2.8-1.2 1.6-2.4 3.1-3.9 4.5-2.8 2.6-5.3 5-9.1 6.6-3.1 1.3-6.9 3.5-10.5 2.4-.2.1-.4.3-.4.6-.2.1-1-.6-1.3-.6.2.3.1.5-.2.6-1.5-1.4-6.8-.5-7.4-3.1-1.6.4-1.2-.4-2.2-1-.4-.2-2.4-1.4-3.2-1.9-1-.6-2.2-1.6-2.9-2.4-1.3-1.5-.5-.5-.1-2.3-.2-.6-1.5 1.3-1.4 1.2-.3.1-1.4-1.3-1.4-1.5.8.1.5.9 1 .9.7.1-.5-1.4-.3-1.7.2.3.5.3.7 0 .4-.7-1.1-.7-1.3-1 0-.2.2-.4.4-.4-.1-.6-1.3.3-1.2-.5 1.4-.6-.5-1-.3-1.7.5.4.8.3.9-.3-.6-.3-1.1-1-1.2-1.4 0-.3 2.2 2.5 2.6 2.5.3 0-1.2-1.9-1.3-2.1.7-.1 1 .9 1.4.6 0 0-1-1.7-.9-1.4.2-.4.4.5.8-.4-.4-.3-.3.8-.6-.3.1 0 .3-.1.4-.2-.2-.5-1.2.1-1.6-.1.2-.3.2-.6-.2-.9 0 0 1.3 1.1 1.3.3-.1-.2-.3-.3-.5-.3.1-1 1.7 1.1 1.7 1.1.6-.1-.8-2.2-.7-2.3.2-.1.5-.1.7 0 .7-.8-1.4-.1-.6-.8.9-.2 0 .3-.2-.6.5-.6.6.1.7-.9-.3-.1-.6-.2-.8-.5.1-.2.3-.3.6-.2-.7-4.7-.8-9 1.4-13.1C5.4 10.8 7 9.5 9.3 8.2c.9-.5 1.9-1.2 2.8-1.7.8-.5 2.6-1.1 3.1-1.6-.2-.3-.5-.3-.8-.1.1-.8 2.3-1.2 2.6-1.1.3-.1 1.6-1.5 2.1-1.8.7-.4 1.3-.6 2.4-.8.9-.2 4.1-1 2.9-.3.9.3.8-.9 1.5-.1.4-.1 4.8-1.1 4.8-.4zm4.4 1.2c.1.2.3 0 .3-.2-.2.1-.3 0-.3.2zm1 .1c.1.1.4 0 .3-.2-.1-.1-.3 0-.3.2zM18.5 2.7c.2 0 .3-.1.3-.3-.2 0-.3.1-.3.3zm22.6 1.9c0 .2.5.3.6 0-.2-.2-.7-.3-.6 0zm2.5 3.8c.2.1.3-.1.3-.3-.2-.1-.4.1-.3.3zM8.5 25.8c.1 0 .3 0 .3-.2-.1-.1-.4 0-.3.2zm.3.6c.1.5.7-.1.6-.2-.2.1-.4.2-.6.2zm-1 .3s.1 0 0 0c.8.2.3-.7 0 0zm1 .2c-.2 0-1.7.1-1.7.5.2.4 1 0 .5.6.3.2.6.2.9 0 0-.3-.5 0-.5-.3-.1 0 1.8-.7.8-.8zm.7.9l-.9.3c.4.4 1.1 0 .9-.3zm.6.2c.1 0 .1 0 .2-.1-.1 0-.2 0-.2.1zm-3 .1c.1 0 .4.2.5-.1-.1-.1-.6-.2-.5.1zm2.5.5c-.4-.1-.5.5-.7.8.4-.1 1.4-.3 1.9-.7-.4-.3-.8-.3-1.2-.1zm-1.8.1c-.1 0-1.2-.1-1.2.3.1.1 2.1.7 2.2.4-.1-.9.2-.3.2-.7-.4-.1-.8-.1-1.2 0zm2 .6c-.1.7-1.1.6-1.2.9.2.2 1.8.1 1.8 0-.1.1.3-1.2.3-1.2-.2.2-.5.2-.9.3zm1.3.3c.1-.2 0-.3-.2-.4 0 .3-.1.4.2.4zm.3.5c-.2-.2-.4-.2-.6.1 0 0 1.1.8 1.2.8.1 0 .2-.8.2-.9h-.8zm-8.8 2.8c-.1.3.5.5.5.2-.1-.3-.4-.5-.5-.2zm.7 1c.1 0 .2-.1.2-.2-.2-.2-.6.2-.2.2zm-.8.4c-.1.4.8.3.7-.1-.2 0-.5.1-.7.1zm.5.7c0 .5.8.6.8 0H3zm-1.9.4c.1.1 1.2 1.5 1.1.4 0-.1-1.1-1.1-1.1-.4zm1.5.6c.6.2.8.1.6-.5-.2.2-.4.3-.6.5zm6.9.6c.9.1 1.1-.1.8-.8-.6 0-.9.2-.8.8zm-.5-.3c0-.3-.6-.3-.7 0 .2.2.7.3.7 0zm-7.1.6l.8-.3c-.4-.2-.7-.1-.8.3zm7.7-.1c-.3-.2-.6-.1-.8.2.3.3.9.3.8-.2zm-.3.9c.1.1.8.6.9.5 0 0-.4-1.9-.9-.5zm.1.8c.1 0 .2-.2.2-.4-.3-.1-.5.3-.2.4zm-6.7 0c.4.6.6.5.6-.3-.1.1-.3.2-.6.3zm9.1 1.1c.5.3.5-.7.5-.8-.5.1-.6.3-.5.8zM8.4 39c-.4-.2-.3.5.4.1.8-.4-.6 0-.4-.1zm11.1.3c-.5.2-.4.4.1.5.4-.2.5-.5.3-.9-.2 0-.4.1-.4.4zm-1.7.3c-.4.5.7.3.7 0-.3-.1-.5-.1-.7 0zm-.7.2c.2 0 .2-.1.3-.2-.2-.2-.5 0-.3.2zm-8.8 0c.1 0 1.6.5 1.3-.2-.3 0-1.3-.1-1.3.2zm4.1.1c-.4.4-.4.5.2.3 0-.3-.4-1-.2-.3zm-6.9.2c-.8.1-1.9-.1-2 1.1.3 0 1.3-1.7 1.7-.6-.2 0-.4.2-.5.4.6.7.4-.1.8.6.6-.2.1-1.2 0-1.5zm5.5.2c-.6-.1.5.7.7 0-.3-.2-.5-.2-.7 0zm-1.1.2c.2 0 .2-.1.4-.1 0-.4-.4-.2-.4.1zm-.4 0c.1-.1.3 0 .4 0 0-.3-.6-.3-.4 0zm2.3.5c.1 0 .1-.1 0-.2.1.2 0 .2 0 .2zm-2 .1c-.3.7.4.9.9.8 0-.1-.3-1-.3-.9-.1-.1-.3-.1-.6.1zm1.4-.1c-.3.4-.2 1.7-.6 2.3 0 0 2.9-2.6 3-2-.2 0-2.7.1-2.4-.3zm3.4 1c-.4-.1-.8.1-1.1.4.6.9.9-.8.7.6.1 0 .9.1 1.1.2 0-1.1 0-.5-.7-1.2zm1.9.3c.2-.2 0-.4-.3-.3 0 .2.1.3.3.3zm-5.8.1c0 .2.3.1.3-.1-.1 0-.3 0-.3.1zm4.8.4c.4.4.6.3.7-.2-.2 0-.5 0-.7.2zm-1.8.1c.1.2.4-.1.1-.2 0 .1-.1 0-.1.2zm-1.8.1c-.4.7.7 1.3.9.6-.4-.4-.3-.4-.9-.6zm5.1.2c0 .4.8.4.9.2 0-.2-.7-.3-.9-.2zm-2.9.4c.2.1.5.1.5-.2-.2-.1-.5-.1-.5.2zm-1.2.1c.2 0 .5.1.5-.2-.1-.1-.5-.1-.5.2zm-1.6.2c0 .2-.2.9.1.9.5-.6.3-.3.5-1.1-.2.1-.4.2-.6.2zm2.7.2c.1-.1.1-.2 0-.3-.1.1-.2.2 0 .3zm2.8 0c.1.6.5.4.7.9-.1.1-.7.5-.7.6 1.9.6.1-2.4 0-1.5zm-2 .2c.1 0 .2-.1.3-.1 0-.3-.3-.1-.3.1zm-1.7-.1c.3-.4-.1 1.8-.1 1.6 1 .3 1.4-.1 1.2-1-.9.2-.5 0-.5-.7-.2.1-.4.1-.6.1zm-.7.1c-.1.3.5.4.5.1-.1-.3-.4-.3-.5-.1zm2.6.7c.3.1.6-.1.7-.3-.2-.2-.6 0-.7.3zm-2.7.3c.3.2.8.1.8-.3-.2.1-.9-.2-.8.3zm3.5.5c.1 0 .2-.1.2-.2-.1-.1-.3.1-.2.2zm-1.3.8c.2 0 .3-.1.3-.3-.2-.3-.6 0-.3.3zm1.8-.2c.1 0 .2.1.3.1.1-.1-.2-.2-.3-.1z')
                        span.icon.brushIconType(aria-hidden='true' style='width:14px;height:18px;line-height:18px')
                          svg(viewbox='0 0 14 18')
                            path(d='M2 3.7L10.3 9 2 14.3V3.7zM0 18l14-9L0 0v18z')
                .contentPadded
                  .itemTag
                    span info
                  h2.itemHeader
                    span Who am I
                  p.itemDesc
                    | Nguy&#x1EC5;n H&#x1EEF;u Tu&#x1EA5;n T&uacute; - 2174801030042
                  time.itemDate Nov 24, 2021
              .gridItem
                a.postLinkSmall(href='#')
                .contentImg
                  .resDiv
                    img(src='https://www.riotgames.com/darkroom/1000/1ebd5a4795ff7c0ab3452a8fb66d62ec:66e7f57d1d08204a74b773ac9b942fb4/xp1-yt-thumbnails-r21-projectl-textless.jpg' alt='' loading='lazy')
                    .typeCategorySmall
                      .brush-icon
                        span.icon.brushIconBg(aria-hidden='true' style='width:50px;height:50px;line-height:50px')
                          svg(viewbox='0 0 50 50')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M30.7.3c-.3.1-.4 0-.4-.3 1 .5 1.2.2 2.1.3.3.3.3.5-.1.8.6.4.9-1.3 1.4-.4-.2.1-.3.2-.5.3.1.2 4.3.2 4.9.5 1 .5 4.5 2.7 4.5 3.6-.1.1-.3.2-.4.3 0 0 1.6 2.1 1.7 2.3.7 1.2 1.1 1.9 1.6 2.8 1 1.9 2.2 4.2 1.8 6.2 1.1.3.9.9.3 1.5 0 .2 1.2 1.9 1.4 2.7.3 1 .4 2.4.6 3.7.1 1.2.8 4.9.2 6-.2.5-2.2 1.2-2.2 1.3-.3.4-.1.8-.5 1.2-.8.8-1.2 2-1.8 2.8-1.2 1.6-2.4 3.1-3.9 4.5-2.8 2.6-5.3 5-9.1 6.6-3.1 1.3-6.9 3.5-10.5 2.4-.2.1-.4.3-.4.6-.2.1-1-.6-1.3-.6.2.3.1.5-.2.6-1.5-1.4-6.8-.5-7.4-3.1-1.6.4-1.2-.4-2.2-1-.4-.2-2.4-1.4-3.2-1.9-1-.6-2.2-1.6-2.9-2.4-1.3-1.5-.5-.5-.1-2.3-.2-.6-1.5 1.3-1.4 1.2-.3.1-1.4-1.3-1.4-1.5.8.1.5.9 1 .9.7.1-.5-1.4-.3-1.7.2.3.5.3.7 0 .4-.7-1.1-.7-1.3-1 0-.2.2-.4.4-.4-.1-.6-1.3.3-1.2-.5 1.4-.6-.5-1-.3-1.7.5.4.8.3.9-.3-.6-.3-1.1-1-1.2-1.4 0-.3 2.2 2.5 2.6 2.5.3 0-1.2-1.9-1.3-2.1.7-.1 1 .9 1.4.6 0 0-1-1.7-.9-1.4.2-.4.4.5.8-.4-.4-.3-.3.8-.6-.3.1 0 .3-.1.4-.2-.2-.5-1.2.1-1.6-.1.2-.3.2-.6-.2-.9 0 0 1.3 1.1 1.3.3-.1-.2-.3-.3-.5-.3.1-1 1.7 1.1 1.7 1.1.6-.1-.8-2.2-.7-2.3.2-.1.5-.1.7 0 .7-.8-1.4-.1-.6-.8.9-.2 0 .3-.2-.6.5-.6.6.1.7-.9-.3-.1-.6-.2-.8-.5.1-.2.3-.3.6-.2-.7-4.7-.8-9 1.4-13.1C5.4 10.8 7 9.5 9.3 8.2c.9-.5 1.9-1.2 2.8-1.7.8-.5 2.6-1.1 3.1-1.6-.2-.3-.5-.3-.8-.1.1-.8 2.3-1.2 2.6-1.1.3-.1 1.6-1.5 2.1-1.8.7-.4 1.3-.6 2.4-.8.9-.2 4.1-1 2.9-.3.9.3.8-.9 1.5-.1.4-.1 4.8-1.1 4.8-.4zm4.4 1.2c.1.2.3 0 .3-.2-.2.1-.3 0-.3.2zm1 .1c.1.1.4 0 .3-.2-.1-.1-.3 0-.3.2zM18.5 2.7c.2 0 .3-.1.3-.3-.2 0-.3.1-.3.3zm22.6 1.9c0 .2.5.3.6 0-.2-.2-.7-.3-.6 0zm2.5 3.8c.2.1.3-.1.3-.3-.2-.1-.4.1-.3.3zM8.5 25.8c.1 0 .3 0 .3-.2-.1-.1-.4 0-.3.2zm.3.6c.1.5.7-.1.6-.2-.2.1-.4.2-.6.2zm-1 .3s.1 0 0 0c.8.2.3-.7 0 0zm1 .2c-.2 0-1.7.1-1.7.5.2.4 1 0 .5.6.3.2.6.2.9 0 0-.3-.5 0-.5-.3-.1 0 1.8-.7.8-.8zm.7.9l-.9.3c.4.4 1.1 0 .9-.3zm.6.2c.1 0 .1 0 .2-.1-.1 0-.2 0-.2.1zm-3 .1c.1 0 .4.2.5-.1-.1-.1-.6-.2-.5.1zm2.5.5c-.4-.1-.5.5-.7.8.4-.1 1.4-.3 1.9-.7-.4-.3-.8-.3-1.2-.1zm-1.8.1c-.1 0-1.2-.1-1.2.3.1.1 2.1.7 2.2.4-.1-.9.2-.3.2-.7-.4-.1-.8-.1-1.2 0zm2 .6c-.1.7-1.1.6-1.2.9.2.2 1.8.1 1.8 0-.1.1.3-1.2.3-1.2-.2.2-.5.2-.9.3zm1.3.3c.1-.2 0-.3-.2-.4 0 .3-.1.4.2.4zm.3.5c-.2-.2-.4-.2-.6.1 0 0 1.1.8 1.2.8.1 0 .2-.8.2-.9h-.8zm-8.8 2.8c-.1.3.5.5.5.2-.1-.3-.4-.5-.5-.2zm.7 1c.1 0 .2-.1.2-.2-.2-.2-.6.2-.2.2zm-.8.4c-.1.4.8.3.7-.1-.2 0-.5.1-.7.1zm.5.7c0 .5.8.6.8 0H3zm-1.9.4c.1.1 1.2 1.5 1.1.4 0-.1-1.1-1.1-1.1-.4zm1.5.6c.6.2.8.1.6-.5-.2.2-.4.3-.6.5zm6.9.6c.9.1 1.1-.1.8-.8-.6 0-.9.2-.8.8zm-.5-.3c0-.3-.6-.3-.7 0 .2.2.7.3.7 0zm-7.1.6l.8-.3c-.4-.2-.7-.1-.8.3zm7.7-.1c-.3-.2-.6-.1-.8.2.3.3.9.3.8-.2zm-.3.9c.1.1.8.6.9.5 0 0-.4-1.9-.9-.5zm.1.8c.1 0 .2-.2.2-.4-.3-.1-.5.3-.2.4zm-6.7 0c.4.6.6.5.6-.3-.1.1-.3.2-.6.3zm9.1 1.1c.5.3.5-.7.5-.8-.5.1-.6.3-.5.8zM8.4 39c-.4-.2-.3.5.4.1.8-.4-.6 0-.4-.1zm11.1.3c-.5.2-.4.4.1.5.4-.2.5-.5.3-.9-.2 0-.4.1-.4.4zm-1.7.3c-.4.5.7.3.7 0-.3-.1-.5-.1-.7 0zm-.7.2c.2 0 .2-.1.3-.2-.2-.2-.5 0-.3.2zm-8.8 0c.1 0 1.6.5 1.3-.2-.3 0-1.3-.1-1.3.2zm4.1.1c-.4.4-.4.5.2.3 0-.3-.4-1-.2-.3zm-6.9.2c-.8.1-1.9-.1-2 1.1.3 0 1.3-1.7 1.7-.6-.2 0-.4.2-.5.4.6.7.4-.1.8.6.6-.2.1-1.2 0-1.5zm5.5.2c-.6-.1.5.7.7 0-.3-.2-.5-.2-.7 0zm-1.1.2c.2 0 .2-.1.4-.1 0-.4-.4-.2-.4.1zm-.4 0c.1-.1.3 0 .4 0 0-.3-.6-.3-.4 0zm2.3.5c.1 0 .1-.1 0-.2.1.2 0 .2 0 .2zm-2 .1c-.3.7.4.9.9.8 0-.1-.3-1-.3-.9-.1-.1-.3-.1-.6.1zm1.4-.1c-.3.4-.2 1.7-.6 2.3 0 0 2.9-2.6 3-2-.2 0-2.7.1-2.4-.3zm3.4 1c-.4-.1-.8.1-1.1.4.6.9.9-.8.7.6.1 0 .9.1 1.1.2 0-1.1 0-.5-.7-1.2zm1.9.3c.2-.2 0-.4-.3-.3 0 .2.1.3.3.3zm-5.8.1c0 .2.3.1.3-.1-.1 0-.3 0-.3.1zm4.8.4c.4.4.6.3.7-.2-.2 0-.5 0-.7.2zm-1.8.1c.1.2.4-.1.1-.2 0 .1-.1 0-.1.2zm-1.8.1c-.4.7.7 1.3.9.6-.4-.4-.3-.4-.9-.6zm5.1.2c0 .4.8.4.9.2 0-.2-.7-.3-.9-.2zm-2.9.4c.2.1.5.1.5-.2-.2-.1-.5-.1-.5.2zm-1.2.1c.2 0 .5.1.5-.2-.1-.1-.5-.1-.5.2zm-1.6.2c0 .2-.2.9.1.9.5-.6.3-.3.5-1.1-.2.1-.4.2-.6.2zm2.7.2c.1-.1.1-.2 0-.3-.1.1-.2.2 0 .3zm2.8 0c.1.6.5.4.7.9-.1.1-.7.5-.7.6 1.9.6.1-2.4 0-1.5zm-2 .2c.1 0 .2-.1.3-.1 0-.3-.3-.1-.3.1zm-1.7-.1c.3-.4-.1 1.8-.1 1.6 1 .3 1.4-.1 1.2-1-.9.2-.5 0-.5-.7-.2.1-.4.1-.6.1zm-.7.1c-.1.3.5.4.5.1-.1-.3-.4-.3-.5-.1zm2.6.7c.3.1.6-.1.7-.3-.2-.2-.6 0-.7.3zm-2.7.3c.3.2.8.1.8-.3-.2.1-.9-.2-.8.3zm3.5.5c.1 0 .2-.1.2-.2-.1-.1-.3.1-.2.2zm-1.3.8c.2 0 .3-.1.3-.3-.2-.3-.6 0-.3.3zm1.8-.2c.1 0 .2.1.3.1.1-.1-.2-.2-.3-.1z')
                        span.icon.brushIconType(aria-hidden='true' style='width:14px;height:18px;line-height:18px')
                          svg(viewbox='0 0 14 18')
                            path(d='M2 3.7L10.3 9 2 14.3V3.7zM0 18l14-9L0 0v18z')
                .contentPadded
                  .itemTag
                    span news
                  h2.itemHeader
                    span Project L /dev: Finding our Game
                  p.itemDesc
                    | As part of Undercity Nights, we&rsquo;re sharing an update on Riot&rsquo;s upcoming fighting game.
                  time.itemDate Nov 22, 2021
              .gridItem
                a.postLinkSmall(href='#')
                .contentImg
                  .resDiv
                    img(src='https://www.riotgames.com/darkroom/1000/6d1f7e37154b5f12a494800c4c033a86:08ea2075a40bc23e36fe09a2294929be/210820-jfg-ka.jpg' alt='' loading='lazy')
                    .typeCategorySmall
                      .brush-icon
                        span.icon.brushIconBg(aria-hidden='true' style='width:50px;height:50px;line-height:50px')
                          svg(viewbox='0 0 50 50')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M30.7.3c-.3.1-.4 0-.4-.3 1 .5 1.2.2 2.1.3.3.3.3.5-.1.8.6.4.9-1.3 1.4-.4-.2.1-.3.2-.5.3.1.2 4.3.2 4.9.5 1 .5 4.5 2.7 4.5 3.6-.1.1-.3.2-.4.3 0 0 1.6 2.1 1.7 2.3.7 1.2 1.1 1.9 1.6 2.8 1 1.9 2.2 4.2 1.8 6.2 1.1.3.9.9.3 1.5 0 .2 1.2 1.9 1.4 2.7.3 1 .4 2.4.6 3.7.1 1.2.8 4.9.2 6-.2.5-2.2 1.2-2.2 1.3-.3.4-.1.8-.5 1.2-.8.8-1.2 2-1.8 2.8-1.2 1.6-2.4 3.1-3.9 4.5-2.8 2.6-5.3 5-9.1 6.6-3.1 1.3-6.9 3.5-10.5 2.4-.2.1-.4.3-.4.6-.2.1-1-.6-1.3-.6.2.3.1.5-.2.6-1.5-1.4-6.8-.5-7.4-3.1-1.6.4-1.2-.4-2.2-1-.4-.2-2.4-1.4-3.2-1.9-1-.6-2.2-1.6-2.9-2.4-1.3-1.5-.5-.5-.1-2.3-.2-.6-1.5 1.3-1.4 1.2-.3.1-1.4-1.3-1.4-1.5.8.1.5.9 1 .9.7.1-.5-1.4-.3-1.7.2.3.5.3.7 0 .4-.7-1.1-.7-1.3-1 0-.2.2-.4.4-.4-.1-.6-1.3.3-1.2-.5 1.4-.6-.5-1-.3-1.7.5.4.8.3.9-.3-.6-.3-1.1-1-1.2-1.4 0-.3 2.2 2.5 2.6 2.5.3 0-1.2-1.9-1.3-2.1.7-.1 1 .9 1.4.6 0 0-1-1.7-.9-1.4.2-.4.4.5.8-.4-.4-.3-.3.8-.6-.3.1 0 .3-.1.4-.2-.2-.5-1.2.1-1.6-.1.2-.3.2-.6-.2-.9 0 0 1.3 1.1 1.3.3-.1-.2-.3-.3-.5-.3.1-1 1.7 1.1 1.7 1.1.6-.1-.8-2.2-.7-2.3.2-.1.5-.1.7 0 .7-.8-1.4-.1-.6-.8.9-.2 0 .3-.2-.6.5-.6.6.1.7-.9-.3-.1-.6-.2-.8-.5.1-.2.3-.3.6-.2-.7-4.7-.8-9 1.4-13.1C5.4 10.8 7 9.5 9.3 8.2c.9-.5 1.9-1.2 2.8-1.7.8-.5 2.6-1.1 3.1-1.6-.2-.3-.5-.3-.8-.1.1-.8 2.3-1.2 2.6-1.1.3-.1 1.6-1.5 2.1-1.8.7-.4 1.3-.6 2.4-.8.9-.2 4.1-1 2.9-.3.9.3.8-.9 1.5-.1.4-.1 4.8-1.1 4.8-.4zm4.4 1.2c.1.2.3 0 .3-.2-.2.1-.3 0-.3.2zm1 .1c.1.1.4 0 .3-.2-.1-.1-.3 0-.3.2zM18.5 2.7c.2 0 .3-.1.3-.3-.2 0-.3.1-.3.3zm22.6 1.9c0 .2.5.3.6 0-.2-.2-.7-.3-.6 0zm2.5 3.8c.2.1.3-.1.3-.3-.2-.1-.4.1-.3.3zM8.5 25.8c.1 0 .3 0 .3-.2-.1-.1-.4 0-.3.2zm.3.6c.1.5.7-.1.6-.2-.2.1-.4.2-.6.2zm-1 .3s.1 0 0 0c.8.2.3-.7 0 0zm1 .2c-.2 0-1.7.1-1.7.5.2.4 1 0 .5.6.3.2.6.2.9 0 0-.3-.5 0-.5-.3-.1 0 1.8-.7.8-.8zm.7.9l-.9.3c.4.4 1.1 0 .9-.3zm.6.2c.1 0 .1 0 .2-.1-.1 0-.2 0-.2.1zm-3 .1c.1 0 .4.2.5-.1-.1-.1-.6-.2-.5.1zm2.5.5c-.4-.1-.5.5-.7.8.4-.1 1.4-.3 1.9-.7-.4-.3-.8-.3-1.2-.1zm-1.8.1c-.1 0-1.2-.1-1.2.3.1.1 2.1.7 2.2.4-.1-.9.2-.3.2-.7-.4-.1-.8-.1-1.2 0zm2 .6c-.1.7-1.1.6-1.2.9.2.2 1.8.1 1.8 0-.1.1.3-1.2.3-1.2-.2.2-.5.2-.9.3zm1.3.3c.1-.2 0-.3-.2-.4 0 .3-.1.4.2.4zm.3.5c-.2-.2-.4-.2-.6.1 0 0 1.1.8 1.2.8.1 0 .2-.8.2-.9h-.8zm-8.8 2.8c-.1.3.5.5.5.2-.1-.3-.4-.5-.5-.2zm.7 1c.1 0 .2-.1.2-.2-.2-.2-.6.2-.2.2zm-.8.4c-.1.4.8.3.7-.1-.2 0-.5.1-.7.1zm.5.7c0 .5.8.6.8 0H3zm-1.9.4c.1.1 1.2 1.5 1.1.4 0-.1-1.1-1.1-1.1-.4zm1.5.6c.6.2.8.1.6-.5-.2.2-.4.3-.6.5zm6.9.6c.9.1 1.1-.1.8-.8-.6 0-.9.2-.8.8zm-.5-.3c0-.3-.6-.3-.7 0 .2.2.7.3.7 0zm-7.1.6l.8-.3c-.4-.2-.7-.1-.8.3zm7.7-.1c-.3-.2-.6-.1-.8.2.3.3.9.3.8-.2zm-.3.9c.1.1.8.6.9.5 0 0-.4-1.9-.9-.5zm.1.8c.1 0 .2-.2.2-.4-.3-.1-.5.3-.2.4zm-6.7 0c.4.6.6.5.6-.3-.1.1-.3.2-.6.3zm9.1 1.1c.5.3.5-.7.5-.8-.5.1-.6.3-.5.8zM8.4 39c-.4-.2-.3.5.4.1.8-.4-.6 0-.4-.1zm11.1.3c-.5.2-.4.4.1.5.4-.2.5-.5.3-.9-.2 0-.4.1-.4.4zm-1.7.3c-.4.5.7.3.7 0-.3-.1-.5-.1-.7 0zm-.7.2c.2 0 .2-.1.3-.2-.2-.2-.5 0-.3.2zm-8.8 0c.1 0 1.6.5 1.3-.2-.3 0-1.3-.1-1.3.2zm4.1.1c-.4.4-.4.5.2.3 0-.3-.4-1-.2-.3zm-6.9.2c-.8.1-1.9-.1-2 1.1.3 0 1.3-1.7 1.7-.6-.2 0-.4.2-.5.4.6.7.4-.1.8.6.6-.2.1-1.2 0-1.5zm5.5.2c-.6-.1.5.7.7 0-.3-.2-.5-.2-.7 0zm-1.1.2c.2 0 .2-.1.4-.1 0-.4-.4-.2-.4.1zm-.4 0c.1-.1.3 0 .4 0 0-.3-.6-.3-.4 0zm2.3.5c.1 0 .1-.1 0-.2.1.2 0 .2 0 .2zm-2 .1c-.3.7.4.9.9.8 0-.1-.3-1-.3-.9-.1-.1-.3-.1-.6.1zm1.4-.1c-.3.4-.2 1.7-.6 2.3 0 0 2.9-2.6 3-2-.2 0-2.7.1-2.4-.3zm3.4 1c-.4-.1-.8.1-1.1.4.6.9.9-.8.7.6.1 0 .9.1 1.1.2 0-1.1 0-.5-.7-1.2zm1.9.3c.2-.2 0-.4-.3-.3 0 .2.1.3.3.3zm-5.8.1c0 .2.3.1.3-.1-.1 0-.3 0-.3.1zm4.8.4c.4.4.6.3.7-.2-.2 0-.5 0-.7.2zm-1.8.1c.1.2.4-.1.1-.2 0 .1-.1 0-.1.2zm-1.8.1c-.4.7.7 1.3.9.6-.4-.4-.3-.4-.9-.6zm5.1.2c0 .4.8.4.9.2 0-.2-.7-.3-.9-.2zm-2.9.4c.2.1.5.1.5-.2-.2-.1-.5-.1-.5.2zm-1.2.1c.2 0 .5.1.5-.2-.1-.1-.5-.1-.5.2zm-1.6.2c0 .2-.2.9.1.9.5-.6.3-.3.5-1.1-.2.1-.4.2-.6.2zm2.7.2c.1-.1.1-.2 0-.3-.1.1-.2.2 0 .3zm2.8 0c.1.6.5.4.7.9-.1.1-.7.5-.7.6 1.9.6.1-2.4 0-1.5zm-2 .2c.1 0 .2-.1.3-.1 0-.3-.3-.1-.3.1zm-1.7-.1c.3-.4-.1 1.8-.1 1.6 1 .3 1.4-.1 1.2-1-.9.2-.5 0-.5-.7-.2.1-.4.1-.6.1zm-.7.1c-.1.3.5.4.5.1-.1-.3-.4-.3-.5-.1zm2.6.7c.3.1.6-.1.7-.3-.2-.2-.6 0-.7.3zm-2.7.3c.3.2.8.1.8-.3-.2.1-.9-.2-.8.3zm3.5.5c.1 0 .2-.1.2-.2-.1-.1-.3.1-.2.2zm-1.3.8c.2 0 .3-.1.3-.3-.2-.3-.6 0-.3.3zm1.8-.2c.1 0 .2.1.3.1.1-.1-.2-.2-.3-.1z')
                        span.icon.brushIconType(aria-hidden='true' style='width:14px;height:18px;line-height:18px')
                          svg(viewbox='0 0 14 18')
                            path(d='M2 3.7L10.3 9 2 14.3V3.7zM0 18l14-9L0 0v18z')
                .contentPadded
                  .itemTag
                    span news
                  h2.itemHeader
                    span Hextech Mayhem
                  p.itemDesc
                    | Available Now
                  time.itemDate Nov 19, 2021
              .gridItem
                a.postLinkSmall(href='#')
                .contentImg
                  .resDiv
                    img(src='https://www.riotgames.com/darkroom/1000/119aa629ef0f3050212cbc7e8d07fa79:8a5566f2d8aa2e2ab9d083d229696e4e/rk-keyart-deluxe-16x9.jpg' alt='' loading='lazy')
                    .typeCategorySmall
                      .brush-icon
                        span.icon.brushIconBg(aria-hidden='true' style='width:50px;height:50px;line-height:50px')
                          svg(viewbox='0 0 50 50')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M30.7.3c-.3.1-.4 0-.4-.3 1 .5 1.2.2 2.1.3.3.3.3.5-.1.8.6.4.9-1.3 1.4-.4-.2.1-.3.2-.5.3.1.2 4.3.2 4.9.5 1 .5 4.5 2.7 4.5 3.6-.1.1-.3.2-.4.3 0 0 1.6 2.1 1.7 2.3.7 1.2 1.1 1.9 1.6 2.8 1 1.9 2.2 4.2 1.8 6.2 1.1.3.9.9.3 1.5 0 .2 1.2 1.9 1.4 2.7.3 1 .4 2.4.6 3.7.1 1.2.8 4.9.2 6-.2.5-2.2 1.2-2.2 1.3-.3.4-.1.8-.5 1.2-.8.8-1.2 2-1.8 2.8-1.2 1.6-2.4 3.1-3.9 4.5-2.8 2.6-5.3 5-9.1 6.6-3.1 1.3-6.9 3.5-10.5 2.4-.2.1-.4.3-.4.6-.2.1-1-.6-1.3-.6.2.3.1.5-.2.6-1.5-1.4-6.8-.5-7.4-3.1-1.6.4-1.2-.4-2.2-1-.4-.2-2.4-1.4-3.2-1.9-1-.6-2.2-1.6-2.9-2.4-1.3-1.5-.5-.5-.1-2.3-.2-.6-1.5 1.3-1.4 1.2-.3.1-1.4-1.3-1.4-1.5.8.1.5.9 1 .9.7.1-.5-1.4-.3-1.7.2.3.5.3.7 0 .4-.7-1.1-.7-1.3-1 0-.2.2-.4.4-.4-.1-.6-1.3.3-1.2-.5 1.4-.6-.5-1-.3-1.7.5.4.8.3.9-.3-.6-.3-1.1-1-1.2-1.4 0-.3 2.2 2.5 2.6 2.5.3 0-1.2-1.9-1.3-2.1.7-.1 1 .9 1.4.6 0 0-1-1.7-.9-1.4.2-.4.4.5.8-.4-.4-.3-.3.8-.6-.3.1 0 .3-.1.4-.2-.2-.5-1.2.1-1.6-.1.2-.3.2-.6-.2-.9 0 0 1.3 1.1 1.3.3-.1-.2-.3-.3-.5-.3.1-1 1.7 1.1 1.7 1.1.6-.1-.8-2.2-.7-2.3.2-.1.5-.1.7 0 .7-.8-1.4-.1-.6-.8.9-.2 0 .3-.2-.6.5-.6.6.1.7-.9-.3-.1-.6-.2-.8-.5.1-.2.3-.3.6-.2-.7-4.7-.8-9 1.4-13.1C5.4 10.8 7 9.5 9.3 8.2c.9-.5 1.9-1.2 2.8-1.7.8-.5 2.6-1.1 3.1-1.6-.2-.3-.5-.3-.8-.1.1-.8 2.3-1.2 2.6-1.1.3-.1 1.6-1.5 2.1-1.8.7-.4 1.3-.6 2.4-.8.9-.2 4.1-1 2.9-.3.9.3.8-.9 1.5-.1.4-.1 4.8-1.1 4.8-.4zm4.4 1.2c.1.2.3 0 .3-.2-.2.1-.3 0-.3.2zm1 .1c.1.1.4 0 .3-.2-.1-.1-.3 0-.3.2zM18.5 2.7c.2 0 .3-.1.3-.3-.2 0-.3.1-.3.3zm22.6 1.9c0 .2.5.3.6 0-.2-.2-.7-.3-.6 0zm2.5 3.8c.2.1.3-.1.3-.3-.2-.1-.4.1-.3.3zM8.5 25.8c.1 0 .3 0 .3-.2-.1-.1-.4 0-.3.2zm.3.6c.1.5.7-.1.6-.2-.2.1-.4.2-.6.2zm-1 .3s.1 0 0 0c.8.2.3-.7 0 0zm1 .2c-.2 0-1.7.1-1.7.5.2.4 1 0 .5.6.3.2.6.2.9 0 0-.3-.5 0-.5-.3-.1 0 1.8-.7.8-.8zm.7.9l-.9.3c.4.4 1.1 0 .9-.3zm.6.2c.1 0 .1 0 .2-.1-.1 0-.2 0-.2.1zm-3 .1c.1 0 .4.2.5-.1-.1-.1-.6-.2-.5.1zm2.5.5c-.4-.1-.5.5-.7.8.4-.1 1.4-.3 1.9-.7-.4-.3-.8-.3-1.2-.1zm-1.8.1c-.1 0-1.2-.1-1.2.3.1.1 2.1.7 2.2.4-.1-.9.2-.3.2-.7-.4-.1-.8-.1-1.2 0zm2 .6c-.1.7-1.1.6-1.2.9.2.2 1.8.1 1.8 0-.1.1.3-1.2.3-1.2-.2.2-.5.2-.9.3zm1.3.3c.1-.2 0-.3-.2-.4 0 .3-.1.4.2.4zm.3.5c-.2-.2-.4-.2-.6.1 0 0 1.1.8 1.2.8.1 0 .2-.8.2-.9h-.8zm-8.8 2.8c-.1.3.5.5.5.2-.1-.3-.4-.5-.5-.2zm.7 1c.1 0 .2-.1.2-.2-.2-.2-.6.2-.2.2zm-.8.4c-.1.4.8.3.7-.1-.2 0-.5.1-.7.1zm.5.7c0 .5.8.6.8 0H3zm-1.9.4c.1.1 1.2 1.5 1.1.4 0-.1-1.1-1.1-1.1-.4zm1.5.6c.6.2.8.1.6-.5-.2.2-.4.3-.6.5zm6.9.6c.9.1 1.1-.1.8-.8-.6 0-.9.2-.8.8zm-.5-.3c0-.3-.6-.3-.7 0 .2.2.7.3.7 0zm-7.1.6l.8-.3c-.4-.2-.7-.1-.8.3zm7.7-.1c-.3-.2-.6-.1-.8.2.3.3.9.3.8-.2zm-.3.9c.1.1.8.6.9.5 0 0-.4-1.9-.9-.5zm.1.8c.1 0 .2-.2.2-.4-.3-.1-.5.3-.2.4zm-6.7 0c.4.6.6.5.6-.3-.1.1-.3.2-.6.3zm9.1 1.1c.5.3.5-.7.5-.8-.5.1-.6.3-.5.8zM8.4 39c-.4-.2-.3.5.4.1.8-.4-.6 0-.4-.1zm11.1.3c-.5.2-.4.4.1.5.4-.2.5-.5.3-.9-.2 0-.4.1-.4.4zm-1.7.3c-.4.5.7.3.7 0-.3-.1-.5-.1-.7 0zm-.7.2c.2 0 .2-.1.3-.2-.2-.2-.5 0-.3.2zm-8.8 0c.1 0 1.6.5 1.3-.2-.3 0-1.3-.1-1.3.2zm4.1.1c-.4.4-.4.5.2.3 0-.3-.4-1-.2-.3zm-6.9.2c-.8.1-1.9-.1-2 1.1.3 0 1.3-1.7 1.7-.6-.2 0-.4.2-.5.4.6.7.4-.1.8.6.6-.2.1-1.2 0-1.5zm5.5.2c-.6-.1.5.7.7 0-.3-.2-.5-.2-.7 0zm-1.1.2c.2 0 .2-.1.4-.1 0-.4-.4-.2-.4.1zm-.4 0c.1-.1.3 0 .4 0 0-.3-.6-.3-.4 0zm2.3.5c.1 0 .1-.1 0-.2.1.2 0 .2 0 .2zm-2 .1c-.3.7.4.9.9.8 0-.1-.3-1-.3-.9-.1-.1-.3-.1-.6.1zm1.4-.1c-.3.4-.2 1.7-.6 2.3 0 0 2.9-2.6 3-2-.2 0-2.7.1-2.4-.3zm3.4 1c-.4-.1-.8.1-1.1.4.6.9.9-.8.7.6.1 0 .9.1 1.1.2 0-1.1 0-.5-.7-1.2zm1.9.3c.2-.2 0-.4-.3-.3 0 .2.1.3.3.3zm-5.8.1c0 .2.3.1.3-.1-.1 0-.3 0-.3.1zm4.8.4c.4.4.6.3.7-.2-.2 0-.5 0-.7.2zm-1.8.1c.1.2.4-.1.1-.2 0 .1-.1 0-.1.2zm-1.8.1c-.4.7.7 1.3.9.6-.4-.4-.3-.4-.9-.6zm5.1.2c0 .4.8.4.9.2 0-.2-.7-.3-.9-.2zm-2.9.4c.2.1.5.1.5-.2-.2-.1-.5-.1-.5.2zm-1.2.1c.2 0 .5.1.5-.2-.1-.1-.5-.1-.5.2zm-1.6.2c0 .2-.2.9.1.9.5-.6.3-.3.5-1.1-.2.1-.4.2-.6.2zm2.7.2c.1-.1.1-.2 0-.3-.1.1-.2.2 0 .3zm2.8 0c.1.6.5.4.7.9-.1.1-.7.5-.7.6 1.9.6.1-2.4 0-1.5zm-2 .2c.1 0 .2-.1.3-.1 0-.3-.3-.1-.3.1zm-1.7-.1c.3-.4-.1 1.8-.1 1.6 1 .3 1.4-.1 1.2-1-.9.2-.5 0-.5-.7-.2.1-.4.1-.6.1zm-.7.1c-.1.3.5.4.5.1-.1-.3-.4-.3-.5-.1zm2.6.7c.3.1.6-.1.7-.3-.2-.2-.6 0-.7.3zm-2.7.3c.3.2.8.1.8-.3-.2.1-.9-.2-.8.3zm3.5.5c.1 0 .2-.1.2-.2-.1-.1-.3.1-.2.2zm-1.3.8c.2 0 .3-.1.3-.3-.2-.3-.6 0-.3.3zm1.8-.2c.1 0 .2.1.3.1.1-.1-.2-.2-.3-.1z')
                        span.icon.brushIconType(aria-hidden='true' style='width:14px;height:18px;line-height:18px')
                          svg(viewbox='0 0 14 18')
                            path(d='M2 3.7L10.3 9 2 14.3V3.7zM0 18l14-9L0 0v18z')
                .contentPadded
                  .itemTag
                    span news
                  h2.itemHeader
                    span Ruined King: A League of Legends Story&trade;
                  p.itemDesc
                    | Available Now
                  time.itemDate Nov 19, 2021
              .gridItem
                a.postLinkSmall(href='#')
                .contentImg
                  .resDiv
                    img(src='https://www.riotgames.com/darkroom/1000/a7b1bd0aebe0e7518db130515a3c5ead:81bedf24428e61f4e626cf9823d4880e/community-grants-announcement-header-1920x1080.png' alt='' loading='lazy')
                    .typeCategorySmall
                      .brush-icon
                        span.icon.brushIconBg(aria-hidden='true' style='width:50px;height:50px;line-height:50px')
                          svg(viewbox='0 0 50 50')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M30.7.3c-.3.1-.4 0-.4-.3 1 .5 1.2.2 2.1.3.3.3.3.5-.1.8.6.4.9-1.3 1.4-.4-.2.1-.3.2-.5.3.1.2 4.3.2 4.9.5 1 .5 4.5 2.7 4.5 3.6-.1.1-.3.2-.4.3 0 0 1.6 2.1 1.7 2.3.7 1.2 1.1 1.9 1.6 2.8 1 1.9 2.2 4.2 1.8 6.2 1.1.3.9.9.3 1.5 0 .2 1.2 1.9 1.4 2.7.3 1 .4 2.4.6 3.7.1 1.2.8 4.9.2 6-.2.5-2.2 1.2-2.2 1.3-.3.4-.1.8-.5 1.2-.8.8-1.2 2-1.8 2.8-1.2 1.6-2.4 3.1-3.9 4.5-2.8 2.6-5.3 5-9.1 6.6-3.1 1.3-6.9 3.5-10.5 2.4-.2.1-.4.3-.4.6-.2.1-1-.6-1.3-.6.2.3.1.5-.2.6-1.5-1.4-6.8-.5-7.4-3.1-1.6.4-1.2-.4-2.2-1-.4-.2-2.4-1.4-3.2-1.9-1-.6-2.2-1.6-2.9-2.4-1.3-1.5-.5-.5-.1-2.3-.2-.6-1.5 1.3-1.4 1.2-.3.1-1.4-1.3-1.4-1.5.8.1.5.9 1 .9.7.1-.5-1.4-.3-1.7.2.3.5.3.7 0 .4-.7-1.1-.7-1.3-1 0-.2.2-.4.4-.4-.1-.6-1.3.3-1.2-.5 1.4-.6-.5-1-.3-1.7.5.4.8.3.9-.3-.6-.3-1.1-1-1.2-1.4 0-.3 2.2 2.5 2.6 2.5.3 0-1.2-1.9-1.3-2.1.7-.1 1 .9 1.4.6 0 0-1-1.7-.9-1.4.2-.4.4.5.8-.4-.4-.3-.3.8-.6-.3.1 0 .3-.1.4-.2-.2-.5-1.2.1-1.6-.1.2-.3.2-.6-.2-.9 0 0 1.3 1.1 1.3.3-.1-.2-.3-.3-.5-.3.1-1 1.7 1.1 1.7 1.1.6-.1-.8-2.2-.7-2.3.2-.1.5-.1.7 0 .7-.8-1.4-.1-.6-.8.9-.2 0 .3-.2-.6.5-.6.6.1.7-.9-.3-.1-.6-.2-.8-.5.1-.2.3-.3.6-.2-.7-4.7-.8-9 1.4-13.1C5.4 10.8 7 9.5 9.3 8.2c.9-.5 1.9-1.2 2.8-1.7.8-.5 2.6-1.1 3.1-1.6-.2-.3-.5-.3-.8-.1.1-.8 2.3-1.2 2.6-1.1.3-.1 1.6-1.5 2.1-1.8.7-.4 1.3-.6 2.4-.8.9-.2 4.1-1 2.9-.3.9.3.8-.9 1.5-.1.4-.1 4.8-1.1 4.8-.4zm4.4 1.2c.1.2.3 0 .3-.2-.2.1-.3 0-.3.2zm1 .1c.1.1.4 0 .3-.2-.1-.1-.3 0-.3.2zM18.5 2.7c.2 0 .3-.1.3-.3-.2 0-.3.1-.3.3zm22.6 1.9c0 .2.5.3.6 0-.2-.2-.7-.3-.6 0zm2.5 3.8c.2.1.3-.1.3-.3-.2-.1-.4.1-.3.3zM8.5 25.8c.1 0 .3 0 .3-.2-.1-.1-.4 0-.3.2zm.3.6c.1.5.7-.1.6-.2-.2.1-.4.2-.6.2zm-1 .3s.1 0 0 0c.8.2.3-.7 0 0zm1 .2c-.2 0-1.7.1-1.7.5.2.4 1 0 .5.6.3.2.6.2.9 0 0-.3-.5 0-.5-.3-.1 0 1.8-.7.8-.8zm.7.9l-.9.3c.4.4 1.1 0 .9-.3zm.6.2c.1 0 .1 0 .2-.1-.1 0-.2 0-.2.1zm-3 .1c.1 0 .4.2.5-.1-.1-.1-.6-.2-.5.1zm2.5.5c-.4-.1-.5.5-.7.8.4-.1 1.4-.3 1.9-.7-.4-.3-.8-.3-1.2-.1zm-1.8.1c-.1 0-1.2-.1-1.2.3.1.1 2.1.7 2.2.4-.1-.9.2-.3.2-.7-.4-.1-.8-.1-1.2 0zm2 .6c-.1.7-1.1.6-1.2.9.2.2 1.8.1 1.8 0-.1.1.3-1.2.3-1.2-.2.2-.5.2-.9.3zm1.3.3c.1-.2 0-.3-.2-.4 0 .3-.1.4.2.4zm.3.5c-.2-.2-.4-.2-.6.1 0 0 1.1.8 1.2.8.1 0 .2-.8.2-.9h-.8zm-8.8 2.8c-.1.3.5.5.5.2-.1-.3-.4-.5-.5-.2zm.7 1c.1 0 .2-.1.2-.2-.2-.2-.6.2-.2.2zm-.8.4c-.1.4.8.3.7-.1-.2 0-.5.1-.7.1zm.5.7c0 .5.8.6.8 0H3zm-1.9.4c.1.1 1.2 1.5 1.1.4 0-.1-1.1-1.1-1.1-.4zm1.5.6c.6.2.8.1.6-.5-.2.2-.4.3-.6.5zm6.9.6c.9.1 1.1-.1.8-.8-.6 0-.9.2-.8.8zm-.5-.3c0-.3-.6-.3-.7 0 .2.2.7.3.7 0zm-7.1.6l.8-.3c-.4-.2-.7-.1-.8.3zm7.7-.1c-.3-.2-.6-.1-.8.2.3.3.9.3.8-.2zm-.3.9c.1.1.8.6.9.5 0 0-.4-1.9-.9-.5zm.1.8c.1 0 .2-.2.2-.4-.3-.1-.5.3-.2.4zm-6.7 0c.4.6.6.5.6-.3-.1.1-.3.2-.6.3zm9.1 1.1c.5.3.5-.7.5-.8-.5.1-.6.3-.5.8zM8.4 39c-.4-.2-.3.5.4.1.8-.4-.6 0-.4-.1zm11.1.3c-.5.2-.4.4.1.5.4-.2.5-.5.3-.9-.2 0-.4.1-.4.4zm-1.7.3c-.4.5.7.3.7 0-.3-.1-.5-.1-.7 0zm-.7.2c.2 0 .2-.1.3-.2-.2-.2-.5 0-.3.2zm-8.8 0c.1 0 1.6.5 1.3-.2-.3 0-1.3-.1-1.3.2zm4.1.1c-.4.4-.4.5.2.3 0-.3-.4-1-.2-.3zm-6.9.2c-.8.1-1.9-.1-2 1.1.3 0 1.3-1.7 1.7-.6-.2 0-.4.2-.5.4.6.7.4-.1.8.6.6-.2.1-1.2 0-1.5zm5.5.2c-.6-.1.5.7.7 0-.3-.2-.5-.2-.7 0zm-1.1.2c.2 0 .2-.1.4-.1 0-.4-.4-.2-.4.1zm-.4 0c.1-.1.3 0 .4 0 0-.3-.6-.3-.4 0zm2.3.5c.1 0 .1-.1 0-.2.1.2 0 .2 0 .2zm-2 .1c-.3.7.4.9.9.8 0-.1-.3-1-.3-.9-.1-.1-.3-.1-.6.1zm1.4-.1c-.3.4-.2 1.7-.6 2.3 0 0 2.9-2.6 3-2-.2 0-2.7.1-2.4-.3zm3.4 1c-.4-.1-.8.1-1.1.4.6.9.9-.8.7.6.1 0 .9.1 1.1.2 0-1.1 0-.5-.7-1.2zm1.9.3c.2-.2 0-.4-.3-.3 0 .2.1.3.3.3zm-5.8.1c0 .2.3.1.3-.1-.1 0-.3 0-.3.1zm4.8.4c.4.4.6.3.7-.2-.2 0-.5 0-.7.2zm-1.8.1c.1.2.4-.1.1-.2 0 .1-.1 0-.1.2zm-1.8.1c-.4.7.7 1.3.9.6-.4-.4-.3-.4-.9-.6zm5.1.2c0 .4.8.4.9.2 0-.2-.7-.3-.9-.2zm-2.9.4c.2.1.5.1.5-.2-.2-.1-.5-.1-.5.2zm-1.2.1c.2 0 .5.1.5-.2-.1-.1-.5-.1-.5.2zm-1.6.2c0 .2-.2.9.1.9.5-.6.3-.3.5-1.1-.2.1-.4.2-.6.2zm2.7.2c.1-.1.1-.2 0-.3-.1.1-.2.2 0 .3zm2.8 0c.1.6.5.4.7.9-.1.1-.7.5-.7.6 1.9.6.1-2.4 0-1.5zm-2 .2c.1 0 .2-.1.3-.1 0-.3-.3-.1-.3.1zm-1.7-.1c.3-.4-.1 1.8-.1 1.6 1 .3 1.4-.1 1.2-1-.9.2-.5 0-.5-.7-.2.1-.4.1-.6.1zm-.7.1c-.1.3.5.4.5.1-.1-.3-.4-.3-.5-.1zm2.6.7c.3.1.6-.1.7-.3-.2-.2-.6 0-.7.3zm-2.7.3c.3.2.8.1.8-.3-.2.1-.9-.2-.8.3zm3.5.5c.1 0 .2-.1.2-.2-.1-.1-.3.1-.2.2zm-1.3.8c.2 0 .3-.1.3-.3-.2-.3-.6 0-.3.3zm1.8-.2c.1 0 .2.1.3.1.1-.1-.2-.2-.3-.1z')
                        span.icon.brushIconType(aria-hidden='true' style='width:14px;height:18px;line-height:18px')
                          svg(viewbox='0 0 14 18')
                            path(d='M2 3.7L10.3 9 2 14.3V3.7zM0 18l14-9L0 0v18z')
                .contentPadded
                  .itemTag
                    span news
                  h2.itemHeader
                    span Progress Days: Celebrating Global Community Grant Winners
                  p.itemDesc
                    | Riot Games Social Impact Fund donates $10,000 to 30 nonprofits nominated by players around the world
                  time.itemDate Nov 19, 2021
              .gridItem
                a.postLinkSmall(href='#')
                .contentImg
                  .resDiv
                    img(src='https://www.riotgames.com/darkroom/1000/ebeeedc0abc13b93f77565f91432fe4b:98484bc17ca7b8003b519c60c8271fe4/riotgames-secret-cinema.jpg' alt='' loading='lazy')
                    .typeCategorySmall
                      .brush-icon
                        span.icon.brushIconBg(aria-hidden='true' style='width:50px;height:50px;line-height:50px')
                          svg(viewbox='0 0 50 50')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M30.7.3c-.3.1-.4 0-.4-.3 1 .5 1.2.2 2.1.3.3.3.3.5-.1.8.6.4.9-1.3 1.4-.4-.2.1-.3.2-.5.3.1.2 4.3.2 4.9.5 1 .5 4.5 2.7 4.5 3.6-.1.1-.3.2-.4.3 0 0 1.6 2.1 1.7 2.3.7 1.2 1.1 1.9 1.6 2.8 1 1.9 2.2 4.2 1.8 6.2 1.1.3.9.9.3 1.5 0 .2 1.2 1.9 1.4 2.7.3 1 .4 2.4.6 3.7.1 1.2.8 4.9.2 6-.2.5-2.2 1.2-2.2 1.3-.3.4-.1.8-.5 1.2-.8.8-1.2 2-1.8 2.8-1.2 1.6-2.4 3.1-3.9 4.5-2.8 2.6-5.3 5-9.1 6.6-3.1 1.3-6.9 3.5-10.5 2.4-.2.1-.4.3-.4.6-.2.1-1-.6-1.3-.6.2.3.1.5-.2.6-1.5-1.4-6.8-.5-7.4-3.1-1.6.4-1.2-.4-2.2-1-.4-.2-2.4-1.4-3.2-1.9-1-.6-2.2-1.6-2.9-2.4-1.3-1.5-.5-.5-.1-2.3-.2-.6-1.5 1.3-1.4 1.2-.3.1-1.4-1.3-1.4-1.5.8.1.5.9 1 .9.7.1-.5-1.4-.3-1.7.2.3.5.3.7 0 .4-.7-1.1-.7-1.3-1 0-.2.2-.4.4-.4-.1-.6-1.3.3-1.2-.5 1.4-.6-.5-1-.3-1.7.5.4.8.3.9-.3-.6-.3-1.1-1-1.2-1.4 0-.3 2.2 2.5 2.6 2.5.3 0-1.2-1.9-1.3-2.1.7-.1 1 .9 1.4.6 0 0-1-1.7-.9-1.4.2-.4.4.5.8-.4-.4-.3-.3.8-.6-.3.1 0 .3-.1.4-.2-.2-.5-1.2.1-1.6-.1.2-.3.2-.6-.2-.9 0 0 1.3 1.1 1.3.3-.1-.2-.3-.3-.5-.3.1-1 1.7 1.1 1.7 1.1.6-.1-.8-2.2-.7-2.3.2-.1.5-.1.7 0 .7-.8-1.4-.1-.6-.8.9-.2 0 .3-.2-.6.5-.6.6.1.7-.9-.3-.1-.6-.2-.8-.5.1-.2.3-.3.6-.2-.7-4.7-.8-9 1.4-13.1C5.4 10.8 7 9.5 9.3 8.2c.9-.5 1.9-1.2 2.8-1.7.8-.5 2.6-1.1 3.1-1.6-.2-.3-.5-.3-.8-.1.1-.8 2.3-1.2 2.6-1.1.3-.1 1.6-1.5 2.1-1.8.7-.4 1.3-.6 2.4-.8.9-.2 4.1-1 2.9-.3.9.3.8-.9 1.5-.1.4-.1 4.8-1.1 4.8-.4zm4.4 1.2c.1.2.3 0 .3-.2-.2.1-.3 0-.3.2zm1 .1c.1.1.4 0 .3-.2-.1-.1-.3 0-.3.2zM18.5 2.7c.2 0 .3-.1.3-.3-.2 0-.3.1-.3.3zm22.6 1.9c0 .2.5.3.6 0-.2-.2-.7-.3-.6 0zm2.5 3.8c.2.1.3-.1.3-.3-.2-.1-.4.1-.3.3zM8.5 25.8c.1 0 .3 0 .3-.2-.1-.1-.4 0-.3.2zm.3.6c.1.5.7-.1.6-.2-.2.1-.4.2-.6.2zm-1 .3s.1 0 0 0c.8.2.3-.7 0 0zm1 .2c-.2 0-1.7.1-1.7.5.2.4 1 0 .5.6.3.2.6.2.9 0 0-.3-.5 0-.5-.3-.1 0 1.8-.7.8-.8zm.7.9l-.9.3c.4.4 1.1 0 .9-.3zm.6.2c.1 0 .1 0 .2-.1-.1 0-.2 0-.2.1zm-3 .1c.1 0 .4.2.5-.1-.1-.1-.6-.2-.5.1zm2.5.5c-.4-.1-.5.5-.7.8.4-.1 1.4-.3 1.9-.7-.4-.3-.8-.3-1.2-.1zm-1.8.1c-.1 0-1.2-.1-1.2.3.1.1 2.1.7 2.2.4-.1-.9.2-.3.2-.7-.4-.1-.8-.1-1.2 0zm2 .6c-.1.7-1.1.6-1.2.9.2.2 1.8.1 1.8 0-.1.1.3-1.2.3-1.2-.2.2-.5.2-.9.3zm1.3.3c.1-.2 0-.3-.2-.4 0 .3-.1.4.2.4zm.3.5c-.2-.2-.4-.2-.6.1 0 0 1.1.8 1.2.8.1 0 .2-.8.2-.9h-.8zm-8.8 2.8c-.1.3.5.5.5.2-.1-.3-.4-.5-.5-.2zm.7 1c.1 0 .2-.1.2-.2-.2-.2-.6.2-.2.2zm-.8.4c-.1.4.8.3.7-.1-.2 0-.5.1-.7.1zm.5.7c0 .5.8.6.8 0H3zm-1.9.4c.1.1 1.2 1.5 1.1.4 0-.1-1.1-1.1-1.1-.4zm1.5.6c.6.2.8.1.6-.5-.2.2-.4.3-.6.5zm6.9.6c.9.1 1.1-.1.8-.8-.6 0-.9.2-.8.8zm-.5-.3c0-.3-.6-.3-.7 0 .2.2.7.3.7 0zm-7.1.6l.8-.3c-.4-.2-.7-.1-.8.3zm7.7-.1c-.3-.2-.6-.1-.8.2.3.3.9.3.8-.2zm-.3.9c.1.1.8.6.9.5 0 0-.4-1.9-.9-.5zm.1.8c.1 0 .2-.2.2-.4-.3-.1-.5.3-.2.4zm-6.7 0c.4.6.6.5.6-.3-.1.1-.3.2-.6.3zm9.1 1.1c.5.3.5-.7.5-.8-.5.1-.6.3-.5.8zM8.4 39c-.4-.2-.3.5.4.1.8-.4-.6 0-.4-.1zm11.1.3c-.5.2-.4.4.1.5.4-.2.5-.5.3-.9-.2 0-.4.1-.4.4zm-1.7.3c-.4.5.7.3.7 0-.3-.1-.5-.1-.7 0zm-.7.2c.2 0 .2-.1.3-.2-.2-.2-.5 0-.3.2zm-8.8 0c.1 0 1.6.5 1.3-.2-.3 0-1.3-.1-1.3.2zm4.1.1c-.4.4-.4.5.2.3 0-.3-.4-1-.2-.3zm-6.9.2c-.8.1-1.9-.1-2 1.1.3 0 1.3-1.7 1.7-.6-.2 0-.4.2-.5.4.6.7.4-.1.8.6.6-.2.1-1.2 0-1.5zm5.5.2c-.6-.1.5.7.7 0-.3-.2-.5-.2-.7 0zm-1.1.2c.2 0 .2-.1.4-.1 0-.4-.4-.2-.4.1zm-.4 0c.1-.1.3 0 .4 0 0-.3-.6-.3-.4 0zm2.3.5c.1 0 .1-.1 0-.2.1.2 0 .2 0 .2zm-2 .1c-.3.7.4.9.9.8 0-.1-.3-1-.3-.9-.1-.1-.3-.1-.6.1zm1.4-.1c-.3.4-.2 1.7-.6 2.3 0 0 2.9-2.6 3-2-.2 0-2.7.1-2.4-.3zm3.4 1c-.4-.1-.8.1-1.1.4.6.9.9-.8.7.6.1 0 .9.1 1.1.2 0-1.1 0-.5-.7-1.2zm1.9.3c.2-.2 0-.4-.3-.3 0 .2.1.3.3.3zm-5.8.1c0 .2.3.1.3-.1-.1 0-.3 0-.3.1zm4.8.4c.4.4.6.3.7-.2-.2 0-.5 0-.7.2zm-1.8.1c.1.2.4-.1.1-.2 0 .1-.1 0-.1.2zm-1.8.1c-.4.7.7 1.3.9.6-.4-.4-.3-.4-.9-.6zm5.1.2c0 .4.8.4.9.2 0-.2-.7-.3-.9-.2zm-2.9.4c.2.1.5.1.5-.2-.2-.1-.5-.1-.5.2zm-1.2.1c.2 0 .5.1.5-.2-.1-.1-.5-.1-.5.2zm-1.6.2c0 .2-.2.9.1.9.5-.6.3-.3.5-1.1-.2.1-.4.2-.6.2zm2.7.2c.1-.1.1-.2 0-.3-.1.1-.2.2 0 .3zm2.8 0c.1.6.5.4.7.9-.1.1-.7.5-.7.6 1.9.6.1-2.4 0-1.5zm-2 .2c.1 0 .2-.1.3-.1 0-.3-.3-.1-.3.1zm-1.7-.1c.3-.4-.1 1.8-.1 1.6 1 .3 1.4-.1 1.2-1-.9.2-.5 0-.5-.7-.2.1-.4.1-.6.1zm-.7.1c-.1.3.5.4.5.1-.1-.3-.4-.3-.5-.1zm2.6.7c.3.1.6-.1.7-.3-.2-.2-.6 0-.7.3zm-2.7.3c.3.2.8.1.8-.3-.2.1-.9-.2-.8.3zm3.5.5c.1 0 .2-.1.2-.2-.1-.1-.3.1-.2.2zm-1.3.8c.2 0 .3-.1.3-.3-.2-.3-.6 0-.3.3zm1.8-.2c.1 0 .2.1.3.1.1-.1-.2-.2-.3-.1z')
                        span.icon.brushIconType(aria-hidden='true' style='width:14px;height:18px;line-height:18px')
                          svg(viewbox='0 0 14 18')
                            path(d='M2 3.7L10.3 9 2 14.3V3.7zM0 18l14-9L0 0v18z')
                .contentPadded
                  .itemTag
                    span news
                  h2.itemHeader
                    span Global Undercity Nights Broadcast Co-Streaming and Rewards
                  p.itemDesc
                    | Learn about how to co-stream the two-day Undercity Nights broadcast on Twitch and YouTube.
                  time.itemDate Nov 18, 2021
              .gridItem
                a.postLinkSmall(href='#')
                .contentImg
                  .resDiv
                    img(src='https://www.riotgames.com/darkroom/1000/07f8a0cb9dfaf1bb3578346c122d1fdb:9fbc3b1c00de8d4676e61a6cf2f35bd7/ucn-riotgauntlet-rg-com-1920.jpg' alt='' loading='lazy')
                    .typeCategorySmall
                      .brush-icon
                        span.icon.brushIconBg(aria-hidden='true' style='width:50px;height:50px;line-height:50px')
                          svg(viewbox='0 0 50 50')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M30.7.3c-.3.1-.4 0-.4-.3 1 .5 1.2.2 2.1.3.3.3.3.5-.1.8.6.4.9-1.3 1.4-.4-.2.1-.3.2-.5.3.1.2 4.3.2 4.9.5 1 .5 4.5 2.7 4.5 3.6-.1.1-.3.2-.4.3 0 0 1.6 2.1 1.7 2.3.7 1.2 1.1 1.9 1.6 2.8 1 1.9 2.2 4.2 1.8 6.2 1.1.3.9.9.3 1.5 0 .2 1.2 1.9 1.4 2.7.3 1 .4 2.4.6 3.7.1 1.2.8 4.9.2 6-.2.5-2.2 1.2-2.2 1.3-.3.4-.1.8-.5 1.2-.8.8-1.2 2-1.8 2.8-1.2 1.6-2.4 3.1-3.9 4.5-2.8 2.6-5.3 5-9.1 6.6-3.1 1.3-6.9 3.5-10.5 2.4-.2.1-.4.3-.4.6-.2.1-1-.6-1.3-.6.2.3.1.5-.2.6-1.5-1.4-6.8-.5-7.4-3.1-1.6.4-1.2-.4-2.2-1-.4-.2-2.4-1.4-3.2-1.9-1-.6-2.2-1.6-2.9-2.4-1.3-1.5-.5-.5-.1-2.3-.2-.6-1.5 1.3-1.4 1.2-.3.1-1.4-1.3-1.4-1.5.8.1.5.9 1 .9.7.1-.5-1.4-.3-1.7.2.3.5.3.7 0 .4-.7-1.1-.7-1.3-1 0-.2.2-.4.4-.4-.1-.6-1.3.3-1.2-.5 1.4-.6-.5-1-.3-1.7.5.4.8.3.9-.3-.6-.3-1.1-1-1.2-1.4 0-.3 2.2 2.5 2.6 2.5.3 0-1.2-1.9-1.3-2.1.7-.1 1 .9 1.4.6 0 0-1-1.7-.9-1.4.2-.4.4.5.8-.4-.4-.3-.3.8-.6-.3.1 0 .3-.1.4-.2-.2-.5-1.2.1-1.6-.1.2-.3.2-.6-.2-.9 0 0 1.3 1.1 1.3.3-.1-.2-.3-.3-.5-.3.1-1 1.7 1.1 1.7 1.1.6-.1-.8-2.2-.7-2.3.2-.1.5-.1.7 0 .7-.8-1.4-.1-.6-.8.9-.2 0 .3-.2-.6.5-.6.6.1.7-.9-.3-.1-.6-.2-.8-.5.1-.2.3-.3.6-.2-.7-4.7-.8-9 1.4-13.1C5.4 10.8 7 9.5 9.3 8.2c.9-.5 1.9-1.2 2.8-1.7.8-.5 2.6-1.1 3.1-1.6-.2-.3-.5-.3-.8-.1.1-.8 2.3-1.2 2.6-1.1.3-.1 1.6-1.5 2.1-1.8.7-.4 1.3-.6 2.4-.8.9-.2 4.1-1 2.9-.3.9.3.8-.9 1.5-.1.4-.1 4.8-1.1 4.8-.4zm4.4 1.2c.1.2.3 0 .3-.2-.2.1-.3 0-.3.2zm1 .1c.1.1.4 0 .3-.2-.1-.1-.3 0-.3.2zM18.5 2.7c.2 0 .3-.1.3-.3-.2 0-.3.1-.3.3zm22.6 1.9c0 .2.5.3.6 0-.2-.2-.7-.3-.6 0zm2.5 3.8c.2.1.3-.1.3-.3-.2-.1-.4.1-.3.3zM8.5 25.8c.1 0 .3 0 .3-.2-.1-.1-.4 0-.3.2zm.3.6c.1.5.7-.1.6-.2-.2.1-.4.2-.6.2zm-1 .3s.1 0 0 0c.8.2.3-.7 0 0zm1 .2c-.2 0-1.7.1-1.7.5.2.4 1 0 .5.6.3.2.6.2.9 0 0-.3-.5 0-.5-.3-.1 0 1.8-.7.8-.8zm.7.9l-.9.3c.4.4 1.1 0 .9-.3zm.6.2c.1 0 .1 0 .2-.1-.1 0-.2 0-.2.1zm-3 .1c.1 0 .4.2.5-.1-.1-.1-.6-.2-.5.1zm2.5.5c-.4-.1-.5.5-.7.8.4-.1 1.4-.3 1.9-.7-.4-.3-.8-.3-1.2-.1zm-1.8.1c-.1 0-1.2-.1-1.2.3.1.1 2.1.7 2.2.4-.1-.9.2-.3.2-.7-.4-.1-.8-.1-1.2 0zm2 .6c-.1.7-1.1.6-1.2.9.2.2 1.8.1 1.8 0-.1.1.3-1.2.3-1.2-.2.2-.5.2-.9.3zm1.3.3c.1-.2 0-.3-.2-.4 0 .3-.1.4.2.4zm.3.5c-.2-.2-.4-.2-.6.1 0 0 1.1.8 1.2.8.1 0 .2-.8.2-.9h-.8zm-8.8 2.8c-.1.3.5.5.5.2-.1-.3-.4-.5-.5-.2zm.7 1c.1 0 .2-.1.2-.2-.2-.2-.6.2-.2.2zm-.8.4c-.1.4.8.3.7-.1-.2 0-.5.1-.7.1zm.5.7c0 .5.8.6.8 0H3zm-1.9.4c.1.1 1.2 1.5 1.1.4 0-.1-1.1-1.1-1.1-.4zm1.5.6c.6.2.8.1.6-.5-.2.2-.4.3-.6.5zm6.9.6c.9.1 1.1-.1.8-.8-.6 0-.9.2-.8.8zm-.5-.3c0-.3-.6-.3-.7 0 .2.2.7.3.7 0zm-7.1.6l.8-.3c-.4-.2-.7-.1-.8.3zm7.7-.1c-.3-.2-.6-.1-.8.2.3.3.9.3.8-.2zm-.3.9c.1.1.8.6.9.5 0 0-.4-1.9-.9-.5zm.1.8c.1 0 .2-.2.2-.4-.3-.1-.5.3-.2.4zm-6.7 0c.4.6.6.5.6-.3-.1.1-.3.2-.6.3zm9.1 1.1c.5.3.5-.7.5-.8-.5.1-.6.3-.5.8zM8.4 39c-.4-.2-.3.5.4.1.8-.4-.6 0-.4-.1zm11.1.3c-.5.2-.4.4.1.5.4-.2.5-.5.3-.9-.2 0-.4.1-.4.4zm-1.7.3c-.4.5.7.3.7 0-.3-.1-.5-.1-.7 0zm-.7.2c.2 0 .2-.1.3-.2-.2-.2-.5 0-.3.2zm-8.8 0c.1 0 1.6.5 1.3-.2-.3 0-1.3-.1-1.3.2zm4.1.1c-.4.4-.4.5.2.3 0-.3-.4-1-.2-.3zm-6.9.2c-.8.1-1.9-.1-2 1.1.3 0 1.3-1.7 1.7-.6-.2 0-.4.2-.5.4.6.7.4-.1.8.6.6-.2.1-1.2 0-1.5zm5.5.2c-.6-.1.5.7.7 0-.3-.2-.5-.2-.7 0zm-1.1.2c.2 0 .2-.1.4-.1 0-.4-.4-.2-.4.1zm-.4 0c.1-.1.3 0 .4 0 0-.3-.6-.3-.4 0zm2.3.5c.1 0 .1-.1 0-.2.1.2 0 .2 0 .2zm-2 .1c-.3.7.4.9.9.8 0-.1-.3-1-.3-.9-.1-.1-.3-.1-.6.1zm1.4-.1c-.3.4-.2 1.7-.6 2.3 0 0 2.9-2.6 3-2-.2 0-2.7.1-2.4-.3zm3.4 1c-.4-.1-.8.1-1.1.4.6.9.9-.8.7.6.1 0 .9.1 1.1.2 0-1.1 0-.5-.7-1.2zm1.9.3c.2-.2 0-.4-.3-.3 0 .2.1.3.3.3zm-5.8.1c0 .2.3.1.3-.1-.1 0-.3 0-.3.1zm4.8.4c.4.4.6.3.7-.2-.2 0-.5 0-.7.2zm-1.8.1c.1.2.4-.1.1-.2 0 .1-.1 0-.1.2zm-1.8.1c-.4.7.7 1.3.9.6-.4-.4-.3-.4-.9-.6zm5.1.2c0 .4.8.4.9.2 0-.2-.7-.3-.9-.2zm-2.9.4c.2.1.5.1.5-.2-.2-.1-.5-.1-.5.2zm-1.2.1c.2 0 .5.1.5-.2-.1-.1-.5-.1-.5.2zm-1.6.2c0 .2-.2.9.1.9.5-.6.3-.3.5-1.1-.2.1-.4.2-.6.2zm2.7.2c.1-.1.1-.2 0-.3-.1.1-.2.2 0 .3zm2.8 0c.1.6.5.4.7.9-.1.1-.7.5-.7.6 1.9.6.1-2.4 0-1.5zm-2 .2c.1 0 .2-.1.3-.1 0-.3-.3-.1-.3.1zm-1.7-.1c.3-.4-.1 1.8-.1 1.6 1 .3 1.4-.1 1.2-1-.9.2-.5 0-.5-.7-.2.1-.4.1-.6.1zm-.7.1c-.1.3.5.4.5.1-.1-.3-.4-.3-.5-.1zm2.6.7c.3.1.6-.1.7-.3-.2-.2-.6 0-.7.3zm-2.7.3c.3.2.8.1.8-.3-.2.1-.9-.2-.8.3zm3.5.5c.1 0 .2-.1.2-.2-.1-.1-.3.1-.2.2zm-1.3.8c.2 0 .3-.1.3-.3-.2-.3-.6 0-.3.3zm1.8-.2c.1 0 .2.1.3.1.1-.1-.2-.2-.3-.1z')
                        span.icon.brushIconType(aria-hidden='true' style='width:14px;height:18px;line-height:18px')
                          svg(viewbox='0 0 14 18')
                            path(d='M2 3.7L10.3 9 2 14.3V3.7zM0 18l14-9L0 0v18z')
                .contentPadded
                  .itemTag
                    span news
                  h2.itemHeader
                    span Introducing the Riot Gauntlet at Undercity Nights
                  p.itemDesc
                    | Players face off against devs across Riot&rsquo;s games for charity
                  time.itemDate Nov 17, 2021
              .gridItem
                a.postLinkSmall(href='#')
                .contentImg
                  .resDiv
                    img(src='https://www.riotgames.com/darkroom/1000/b23b18c80b45a72a20e7ac1db36666af:c080d030eda02393727792db8bbf9e79/secret-lair-arcane-announcement.jpg' alt='' loading='lazy')
                    .typeCategorySmall
                      .brush-icon
                        span.icon.brushIconBg(aria-hidden='true' style='width:50px;height:50px;line-height:50px')
                          svg(viewbox='0 0 50 50')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M30.7.3c-.3.1-.4 0-.4-.3 1 .5 1.2.2 2.1.3.3.3.3.5-.1.8.6.4.9-1.3 1.4-.4-.2.1-.3.2-.5.3.1.2 4.3.2 4.9.5 1 .5 4.5 2.7 4.5 3.6-.1.1-.3.2-.4.3 0 0 1.6 2.1 1.7 2.3.7 1.2 1.1 1.9 1.6 2.8 1 1.9 2.2 4.2 1.8 6.2 1.1.3.9.9.3 1.5 0 .2 1.2 1.9 1.4 2.7.3 1 .4 2.4.6 3.7.1 1.2.8 4.9.2 6-.2.5-2.2 1.2-2.2 1.3-.3.4-.1.8-.5 1.2-.8.8-1.2 2-1.8 2.8-1.2 1.6-2.4 3.1-3.9 4.5-2.8 2.6-5.3 5-9.1 6.6-3.1 1.3-6.9 3.5-10.5 2.4-.2.1-.4.3-.4.6-.2.1-1-.6-1.3-.6.2.3.1.5-.2.6-1.5-1.4-6.8-.5-7.4-3.1-1.6.4-1.2-.4-2.2-1-.4-.2-2.4-1.4-3.2-1.9-1-.6-2.2-1.6-2.9-2.4-1.3-1.5-.5-.5-.1-2.3-.2-.6-1.5 1.3-1.4 1.2-.3.1-1.4-1.3-1.4-1.5.8.1.5.9 1 .9.7.1-.5-1.4-.3-1.7.2.3.5.3.7 0 .4-.7-1.1-.7-1.3-1 0-.2.2-.4.4-.4-.1-.6-1.3.3-1.2-.5 1.4-.6-.5-1-.3-1.7.5.4.8.3.9-.3-.6-.3-1.1-1-1.2-1.4 0-.3 2.2 2.5 2.6 2.5.3 0-1.2-1.9-1.3-2.1.7-.1 1 .9 1.4.6 0 0-1-1.7-.9-1.4.2-.4.4.5.8-.4-.4-.3-.3.8-.6-.3.1 0 .3-.1.4-.2-.2-.5-1.2.1-1.6-.1.2-.3.2-.6-.2-.9 0 0 1.3 1.1 1.3.3-.1-.2-.3-.3-.5-.3.1-1 1.7 1.1 1.7 1.1.6-.1-.8-2.2-.7-2.3.2-.1.5-.1.7 0 .7-.8-1.4-.1-.6-.8.9-.2 0 .3-.2-.6.5-.6.6.1.7-.9-.3-.1-.6-.2-.8-.5.1-.2.3-.3.6-.2-.7-4.7-.8-9 1.4-13.1C5.4 10.8 7 9.5 9.3 8.2c.9-.5 1.9-1.2 2.8-1.7.8-.5 2.6-1.1 3.1-1.6-.2-.3-.5-.3-.8-.1.1-.8 2.3-1.2 2.6-1.1.3-.1 1.6-1.5 2.1-1.8.7-.4 1.3-.6 2.4-.8.9-.2 4.1-1 2.9-.3.9.3.8-.9 1.5-.1.4-.1 4.8-1.1 4.8-.4zm4.4 1.2c.1.2.3 0 .3-.2-.2.1-.3 0-.3.2zm1 .1c.1.1.4 0 .3-.2-.1-.1-.3 0-.3.2zM18.5 2.7c.2 0 .3-.1.3-.3-.2 0-.3.1-.3.3zm22.6 1.9c0 .2.5.3.6 0-.2-.2-.7-.3-.6 0zm2.5 3.8c.2.1.3-.1.3-.3-.2-.1-.4.1-.3.3zM8.5 25.8c.1 0 .3 0 .3-.2-.1-.1-.4 0-.3.2zm.3.6c.1.5.7-.1.6-.2-.2.1-.4.2-.6.2zm-1 .3s.1 0 0 0c.8.2.3-.7 0 0zm1 .2c-.2 0-1.7.1-1.7.5.2.4 1 0 .5.6.3.2.6.2.9 0 0-.3-.5 0-.5-.3-.1 0 1.8-.7.8-.8zm.7.9l-.9.3c.4.4 1.1 0 .9-.3zm.6.2c.1 0 .1 0 .2-.1-.1 0-.2 0-.2.1zm-3 .1c.1 0 .4.2.5-.1-.1-.1-.6-.2-.5.1zm2.5.5c-.4-.1-.5.5-.7.8.4-.1 1.4-.3 1.9-.7-.4-.3-.8-.3-1.2-.1zm-1.8.1c-.1 0-1.2-.1-1.2.3.1.1 2.1.7 2.2.4-.1-.9.2-.3.2-.7-.4-.1-.8-.1-1.2 0zm2 .6c-.1.7-1.1.6-1.2.9.2.2 1.8.1 1.8 0-.1.1.3-1.2.3-1.2-.2.2-.5.2-.9.3zm1.3.3c.1-.2 0-.3-.2-.4 0 .3-.1.4.2.4zm.3.5c-.2-.2-.4-.2-.6.1 0 0 1.1.8 1.2.8.1 0 .2-.8.2-.9h-.8zm-8.8 2.8c-.1.3.5.5.5.2-.1-.3-.4-.5-.5-.2zm.7 1c.1 0 .2-.1.2-.2-.2-.2-.6.2-.2.2zm-.8.4c-.1.4.8.3.7-.1-.2 0-.5.1-.7.1zm.5.7c0 .5.8.6.8 0H3zm-1.9.4c.1.1 1.2 1.5 1.1.4 0-.1-1.1-1.1-1.1-.4zm1.5.6c.6.2.8.1.6-.5-.2.2-.4.3-.6.5zm6.9.6c.9.1 1.1-.1.8-.8-.6 0-.9.2-.8.8zm-.5-.3c0-.3-.6-.3-.7 0 .2.2.7.3.7 0zm-7.1.6l.8-.3c-.4-.2-.7-.1-.8.3zm7.7-.1c-.3-.2-.6-.1-.8.2.3.3.9.3.8-.2zm-.3.9c.1.1.8.6.9.5 0 0-.4-1.9-.9-.5zm.1.8c.1 0 .2-.2.2-.4-.3-.1-.5.3-.2.4zm-6.7 0c.4.6.6.5.6-.3-.1.1-.3.2-.6.3zm9.1 1.1c.5.3.5-.7.5-.8-.5.1-.6.3-.5.8zM8.4 39c-.4-.2-.3.5.4.1.8-.4-.6 0-.4-.1zm11.1.3c-.5.2-.4.4.1.5.4-.2.5-.5.3-.9-.2 0-.4.1-.4.4zm-1.7.3c-.4.5.7.3.7 0-.3-.1-.5-.1-.7 0zm-.7.2c.2 0 .2-.1.3-.2-.2-.2-.5 0-.3.2zm-8.8 0c.1 0 1.6.5 1.3-.2-.3 0-1.3-.1-1.3.2zm4.1.1c-.4.4-.4.5.2.3 0-.3-.4-1-.2-.3zm-6.9.2c-.8.1-1.9-.1-2 1.1.3 0 1.3-1.7 1.7-.6-.2 0-.4.2-.5.4.6.7.4-.1.8.6.6-.2.1-1.2 0-1.5zm5.5.2c-.6-.1.5.7.7 0-.3-.2-.5-.2-.7 0zm-1.1.2c.2 0 .2-.1.4-.1 0-.4-.4-.2-.4.1zm-.4 0c.1-.1.3 0 .4 0 0-.3-.6-.3-.4 0zm2.3.5c.1 0 .1-.1 0-.2.1.2 0 .2 0 .2zm-2 .1c-.3.7.4.9.9.8 0-.1-.3-1-.3-.9-.1-.1-.3-.1-.6.1zm1.4-.1c-.3.4-.2 1.7-.6 2.3 0 0 2.9-2.6 3-2-.2 0-2.7.1-2.4-.3zm3.4 1c-.4-.1-.8.1-1.1.4.6.9.9-.8.7.6.1 0 .9.1 1.1.2 0-1.1 0-.5-.7-1.2zm1.9.3c.2-.2 0-.4-.3-.3 0 .2.1.3.3.3zm-5.8.1c0 .2.3.1.3-.1-.1 0-.3 0-.3.1zm4.8.4c.4.4.6.3.7-.2-.2 0-.5 0-.7.2zm-1.8.1c.1.2.4-.1.1-.2 0 .1-.1 0-.1.2zm-1.8.1c-.4.7.7 1.3.9.6-.4-.4-.3-.4-.9-.6zm5.1.2c0 .4.8.4.9.2 0-.2-.7-.3-.9-.2zm-2.9.4c.2.1.5.1.5-.2-.2-.1-.5-.1-.5.2zm-1.2.1c.2 0 .5.1.5-.2-.1-.1-.5-.1-.5.2zm-1.6.2c0 .2-.2.9.1.9.5-.6.3-.3.5-1.1-.2.1-.4.2-.6.2zm2.7.2c.1-.1.1-.2 0-.3-.1.1-.2.2 0 .3zm2.8 0c.1.6.5.4.7.9-.1.1-.7.5-.7.6 1.9.6.1-2.4 0-1.5zm-2 .2c.1 0 .2-.1.3-.1 0-.3-.3-.1-.3.1zm-1.7-.1c.3-.4-.1 1.8-.1 1.6 1 .3 1.4-.1 1.2-1-.9.2-.5 0-.5-.7-.2.1-.4.1-.6.1zm-.7.1c-.1.3.5.4.5.1-.1-.3-.4-.3-.5-.1zm2.6.7c.3.1.6-.1.7-.3-.2-.2-.6 0-.7.3zm-2.7.3c.3.2.8.1.8-.3-.2.1-.9-.2-.8.3zm3.5.5c.1 0 .2-.1.2-.2-.1-.1-.3.1-.2.2zm-1.3.8c.2 0 .3-.1.3-.3-.2-.3-.6 0-.3.3zm1.8-.2c.1 0 .2.1.3.1.1-.1-.2-.2-.3-.1z')
                        span.icon.brushIconType(aria-hidden='true' style='width:14px;height:18px;line-height:18px')
                          svg(viewbox='0 0 14 18')
                            path(d='M2 3.7L10.3 9 2 14.3V3.7zM0 18l14-9L0 0v18z')
                .contentPadded
                  .itemTag
                    span news
                  h2.itemHeader
                    span Lands ho! Arcane is Joining Magic: The Gathering
                  p.itemDesc
                    | Two new drops of Magic: The Gathering Secret Lair will feature characters, moments and locations from Arcane.
                  time.itemDate Nov 17, 2021
              .gridItem
                a.postLinkSmall(href='#')
                .contentImg
                  .resDiv
                    img(src='https://www.riotgames.com/darkroom/1000/5df13feb341e9948a7dfd45cc2ad2a99:9b3d23e7296ad7309eaa9e30f15c6084/riotx-arcane-among-us.png' alt='' loading='lazy')
                    .typeCategorySmall
                      .brush-icon
                        span.icon.brushIconBg(aria-hidden='true' style='width:50px;height:50px;line-height:50px')
                          svg(viewbox='0 0 50 50')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M30.7.3c-.3.1-.4 0-.4-.3 1 .5 1.2.2 2.1.3.3.3.3.5-.1.8.6.4.9-1.3 1.4-.4-.2.1-.3.2-.5.3.1.2 4.3.2 4.9.5 1 .5 4.5 2.7 4.5 3.6-.1.1-.3.2-.4.3 0 0 1.6 2.1 1.7 2.3.7 1.2 1.1 1.9 1.6 2.8 1 1.9 2.2 4.2 1.8 6.2 1.1.3.9.9.3 1.5 0 .2 1.2 1.9 1.4 2.7.3 1 .4 2.4.6 3.7.1 1.2.8 4.9.2 6-.2.5-2.2 1.2-2.2 1.3-.3.4-.1.8-.5 1.2-.8.8-1.2 2-1.8 2.8-1.2 1.6-2.4 3.1-3.9 4.5-2.8 2.6-5.3 5-9.1 6.6-3.1 1.3-6.9 3.5-10.5 2.4-.2.1-.4.3-.4.6-.2.1-1-.6-1.3-.6.2.3.1.5-.2.6-1.5-1.4-6.8-.5-7.4-3.1-1.6.4-1.2-.4-2.2-1-.4-.2-2.4-1.4-3.2-1.9-1-.6-2.2-1.6-2.9-2.4-1.3-1.5-.5-.5-.1-2.3-.2-.6-1.5 1.3-1.4 1.2-.3.1-1.4-1.3-1.4-1.5.8.1.5.9 1 .9.7.1-.5-1.4-.3-1.7.2.3.5.3.7 0 .4-.7-1.1-.7-1.3-1 0-.2.2-.4.4-.4-.1-.6-1.3.3-1.2-.5 1.4-.6-.5-1-.3-1.7.5.4.8.3.9-.3-.6-.3-1.1-1-1.2-1.4 0-.3 2.2 2.5 2.6 2.5.3 0-1.2-1.9-1.3-2.1.7-.1 1 .9 1.4.6 0 0-1-1.7-.9-1.4.2-.4.4.5.8-.4-.4-.3-.3.8-.6-.3.1 0 .3-.1.4-.2-.2-.5-1.2.1-1.6-.1.2-.3.2-.6-.2-.9 0 0 1.3 1.1 1.3.3-.1-.2-.3-.3-.5-.3.1-1 1.7 1.1 1.7 1.1.6-.1-.8-2.2-.7-2.3.2-.1.5-.1.7 0 .7-.8-1.4-.1-.6-.8.9-.2 0 .3-.2-.6.5-.6.6.1.7-.9-.3-.1-.6-.2-.8-.5.1-.2.3-.3.6-.2-.7-4.7-.8-9 1.4-13.1C5.4 10.8 7 9.5 9.3 8.2c.9-.5 1.9-1.2 2.8-1.7.8-.5 2.6-1.1 3.1-1.6-.2-.3-.5-.3-.8-.1.1-.8 2.3-1.2 2.6-1.1.3-.1 1.6-1.5 2.1-1.8.7-.4 1.3-.6 2.4-.8.9-.2 4.1-1 2.9-.3.9.3.8-.9 1.5-.1.4-.1 4.8-1.1 4.8-.4zm4.4 1.2c.1.2.3 0 .3-.2-.2.1-.3 0-.3.2zm1 .1c.1.1.4 0 .3-.2-.1-.1-.3 0-.3.2zM18.5 2.7c.2 0 .3-.1.3-.3-.2 0-.3.1-.3.3zm22.6 1.9c0 .2.5.3.6 0-.2-.2-.7-.3-.6 0zm2.5 3.8c.2.1.3-.1.3-.3-.2-.1-.4.1-.3.3zM8.5 25.8c.1 0 .3 0 .3-.2-.1-.1-.4 0-.3.2zm.3.6c.1.5.7-.1.6-.2-.2.1-.4.2-.6.2zm-1 .3s.1 0 0 0c.8.2.3-.7 0 0zm1 .2c-.2 0-1.7.1-1.7.5.2.4 1 0 .5.6.3.2.6.2.9 0 0-.3-.5 0-.5-.3-.1 0 1.8-.7.8-.8zm.7.9l-.9.3c.4.4 1.1 0 .9-.3zm.6.2c.1 0 .1 0 .2-.1-.1 0-.2 0-.2.1zm-3 .1c.1 0 .4.2.5-.1-.1-.1-.6-.2-.5.1zm2.5.5c-.4-.1-.5.5-.7.8.4-.1 1.4-.3 1.9-.7-.4-.3-.8-.3-1.2-.1zm-1.8.1c-.1 0-1.2-.1-1.2.3.1.1 2.1.7 2.2.4-.1-.9.2-.3.2-.7-.4-.1-.8-.1-1.2 0zm2 .6c-.1.7-1.1.6-1.2.9.2.2 1.8.1 1.8 0-.1.1.3-1.2.3-1.2-.2.2-.5.2-.9.3zm1.3.3c.1-.2 0-.3-.2-.4 0 .3-.1.4.2.4zm.3.5c-.2-.2-.4-.2-.6.1 0 0 1.1.8 1.2.8.1 0 .2-.8.2-.9h-.8zm-8.8 2.8c-.1.3.5.5.5.2-.1-.3-.4-.5-.5-.2zm.7 1c.1 0 .2-.1.2-.2-.2-.2-.6.2-.2.2zm-.8.4c-.1.4.8.3.7-.1-.2 0-.5.1-.7.1zm.5.7c0 .5.8.6.8 0H3zm-1.9.4c.1.1 1.2 1.5 1.1.4 0-.1-1.1-1.1-1.1-.4zm1.5.6c.6.2.8.1.6-.5-.2.2-.4.3-.6.5zm6.9.6c.9.1 1.1-.1.8-.8-.6 0-.9.2-.8.8zm-.5-.3c0-.3-.6-.3-.7 0 .2.2.7.3.7 0zm-7.1.6l.8-.3c-.4-.2-.7-.1-.8.3zm7.7-.1c-.3-.2-.6-.1-.8.2.3.3.9.3.8-.2zm-.3.9c.1.1.8.6.9.5 0 0-.4-1.9-.9-.5zm.1.8c.1 0 .2-.2.2-.4-.3-.1-.5.3-.2.4zm-6.7 0c.4.6.6.5.6-.3-.1.1-.3.2-.6.3zm9.1 1.1c.5.3.5-.7.5-.8-.5.1-.6.3-.5.8zM8.4 39c-.4-.2-.3.5.4.1.8-.4-.6 0-.4-.1zm11.1.3c-.5.2-.4.4.1.5.4-.2.5-.5.3-.9-.2 0-.4.1-.4.4zm-1.7.3c-.4.5.7.3.7 0-.3-.1-.5-.1-.7 0zm-.7.2c.2 0 .2-.1.3-.2-.2-.2-.5 0-.3.2zm-8.8 0c.1 0 1.6.5 1.3-.2-.3 0-1.3-.1-1.3.2zm4.1.1c-.4.4-.4.5.2.3 0-.3-.4-1-.2-.3zm-6.9.2c-.8.1-1.9-.1-2 1.1.3 0 1.3-1.7 1.7-.6-.2 0-.4.2-.5.4.6.7.4-.1.8.6.6-.2.1-1.2 0-1.5zm5.5.2c-.6-.1.5.7.7 0-.3-.2-.5-.2-.7 0zm-1.1.2c.2 0 .2-.1.4-.1 0-.4-.4-.2-.4.1zm-.4 0c.1-.1.3 0 .4 0 0-.3-.6-.3-.4 0zm2.3.5c.1 0 .1-.1 0-.2.1.2 0 .2 0 .2zm-2 .1c-.3.7.4.9.9.8 0-.1-.3-1-.3-.9-.1-.1-.3-.1-.6.1zm1.4-.1c-.3.4-.2 1.7-.6 2.3 0 0 2.9-2.6 3-2-.2 0-2.7.1-2.4-.3zm3.4 1c-.4-.1-.8.1-1.1.4.6.9.9-.8.7.6.1 0 .9.1 1.1.2 0-1.1 0-.5-.7-1.2zm1.9.3c.2-.2 0-.4-.3-.3 0 .2.1.3.3.3zm-5.8.1c0 .2.3.1.3-.1-.1 0-.3 0-.3.1zm4.8.4c.4.4.6.3.7-.2-.2 0-.5 0-.7.2zm-1.8.1c.1.2.4-.1.1-.2 0 .1-.1 0-.1.2zm-1.8.1c-.4.7.7 1.3.9.6-.4-.4-.3-.4-.9-.6zm5.1.2c0 .4.8.4.9.2 0-.2-.7-.3-.9-.2zm-2.9.4c.2.1.5.1.5-.2-.2-.1-.5-.1-.5.2zm-1.2.1c.2 0 .5.1.5-.2-.1-.1-.5-.1-.5.2zm-1.6.2c0 .2-.2.9.1.9.5-.6.3-.3.5-1.1-.2.1-.4.2-.6.2zm2.7.2c.1-.1.1-.2 0-.3-.1.1-.2.2 0 .3zm2.8 0c.1.6.5.4.7.9-.1.1-.7.5-.7.6 1.9.6.1-2.4 0-1.5zm-2 .2c.1 0 .2-.1.3-.1 0-.3-.3-.1-.3.1zm-1.7-.1c.3-.4-.1 1.8-.1 1.6 1 .3 1.4-.1 1.2-1-.9.2-.5 0-.5-.7-.2.1-.4.1-.6.1zm-.7.1c-.1.3.5.4.5.1-.1-.3-.4-.3-.5-.1zm2.6.7c.3.1.6-.1.7-.3-.2-.2-.6 0-.7.3zm-2.7.3c.3.2.8.1.8-.3-.2.1-.9-.2-.8.3zm3.5.5c.1 0 .2-.1.2-.2-.1-.1-.3.1-.2.2zm-1.3.8c.2 0 .3-.1.3-.3-.2-.3-.6 0-.3.3zm1.8-.2c.1 0 .2.1.3.1.1-.1-.2-.2-.3-.1z')
                        span.icon.brushIconType(aria-hidden='true' style='width:14px;height:18px;line-height:18px')
                          svg(viewbox='0 0 14 18')
                            path(d='M2 3.7L10.3 9 2 14.3V3.7zM0 18l14-9L0 0v18z')
                .contentPadded
                  .itemTag
                    span news
                  h2.itemHeader
                    span Call an Emergency Meeting - Arcane is Coming to Among Us
                  p.itemDesc
                    | Jinx, Vi, Jayce, and more will join the crew in celebration of Arcane.
                  time.itemDate Nov 12, 2021
              .gridItem
                a.postLinkSmall(href='#')
                .contentImg
                  .resDiv
                    img(src='./img/aki1000x563.png' alt='' loading='lazy')
                    .typeCategorySmall
                      .brush-icon
                        span.icon.brushIconBg(aria-hidden='true' style='width:50px;height:50px;line-height:50px')
                          svg(viewbox='0 0 50 50')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M30.7.3c-.3.1-.4 0-.4-.3 1 .5 1.2.2 2.1.3.3.3.3.5-.1.8.6.4.9-1.3 1.4-.4-.2.1-.3.2-.5.3.1.2 4.3.2 4.9.5 1 .5 4.5 2.7 4.5 3.6-.1.1-.3.2-.4.3 0 0 1.6 2.1 1.7 2.3.7 1.2 1.1 1.9 1.6 2.8 1 1.9 2.2 4.2 1.8 6.2 1.1.3.9.9.3 1.5 0 .2 1.2 1.9 1.4 2.7.3 1 .4 2.4.6 3.7.1 1.2.8 4.9.2 6-.2.5-2.2 1.2-2.2 1.3-.3.4-.1.8-.5 1.2-.8.8-1.2 2-1.8 2.8-1.2 1.6-2.4 3.1-3.9 4.5-2.8 2.6-5.3 5-9.1 6.6-3.1 1.3-6.9 3.5-10.5 2.4-.2.1-.4.3-.4.6-.2.1-1-.6-1.3-.6.2.3.1.5-.2.6-1.5-1.4-6.8-.5-7.4-3.1-1.6.4-1.2-.4-2.2-1-.4-.2-2.4-1.4-3.2-1.9-1-.6-2.2-1.6-2.9-2.4-1.3-1.5-.5-.5-.1-2.3-.2-.6-1.5 1.3-1.4 1.2-.3.1-1.4-1.3-1.4-1.5.8.1.5.9 1 .9.7.1-.5-1.4-.3-1.7.2.3.5.3.7 0 .4-.7-1.1-.7-1.3-1 0-.2.2-.4.4-.4-.1-.6-1.3.3-1.2-.5 1.4-.6-.5-1-.3-1.7.5.4.8.3.9-.3-.6-.3-1.1-1-1.2-1.4 0-.3 2.2 2.5 2.6 2.5.3 0-1.2-1.9-1.3-2.1.7-.1 1 .9 1.4.6 0 0-1-1.7-.9-1.4.2-.4.4.5.8-.4-.4-.3-.3.8-.6-.3.1 0 .3-.1.4-.2-.2-.5-1.2.1-1.6-.1.2-.3.2-.6-.2-.9 0 0 1.3 1.1 1.3.3-.1-.2-.3-.3-.5-.3.1-1 1.7 1.1 1.7 1.1.6-.1-.8-2.2-.7-2.3.2-.1.5-.1.7 0 .7-.8-1.4-.1-.6-.8.9-.2 0 .3-.2-.6.5-.6.6.1.7-.9-.3-.1-.6-.2-.8-.5.1-.2.3-.3.6-.2-.7-4.7-.8-9 1.4-13.1C5.4 10.8 7 9.5 9.3 8.2c.9-.5 1.9-1.2 2.8-1.7.8-.5 2.6-1.1 3.1-1.6-.2-.3-.5-.3-.8-.1.1-.8 2.3-1.2 2.6-1.1.3-.1 1.6-1.5 2.1-1.8.7-.4 1.3-.6 2.4-.8.9-.2 4.1-1 2.9-.3.9.3.8-.9 1.5-.1.4-.1 4.8-1.1 4.8-.4zm4.4 1.2c.1.2.3 0 .3-.2-.2.1-.3 0-.3.2zm1 .1c.1.1.4 0 .3-.2-.1-.1-.3 0-.3.2zM18.5 2.7c.2 0 .3-.1.3-.3-.2 0-.3.1-.3.3zm22.6 1.9c0 .2.5.3.6 0-.2-.2-.7-.3-.6 0zm2.5 3.8c.2.1.3-.1.3-.3-.2-.1-.4.1-.3.3zM8.5 25.8c.1 0 .3 0 .3-.2-.1-.1-.4 0-.3.2zm.3.6c.1.5.7-.1.6-.2-.2.1-.4.2-.6.2zm-1 .3s.1 0 0 0c.8.2.3-.7 0 0zm1 .2c-.2 0-1.7.1-1.7.5.2.4 1 0 .5.6.3.2.6.2.9 0 0-.3-.5 0-.5-.3-.1 0 1.8-.7.8-.8zm.7.9l-.9.3c.4.4 1.1 0 .9-.3zm.6.2c.1 0 .1 0 .2-.1-.1 0-.2 0-.2.1zm-3 .1c.1 0 .4.2.5-.1-.1-.1-.6-.2-.5.1zm2.5.5c-.4-.1-.5.5-.7.8.4-.1 1.4-.3 1.9-.7-.4-.3-.8-.3-1.2-.1zm-1.8.1c-.1 0-1.2-.1-1.2.3.1.1 2.1.7 2.2.4-.1-.9.2-.3.2-.7-.4-.1-.8-.1-1.2 0zm2 .6c-.1.7-1.1.6-1.2.9.2.2 1.8.1 1.8 0-.1.1.3-1.2.3-1.2-.2.2-.5.2-.9.3zm1.3.3c.1-.2 0-.3-.2-.4 0 .3-.1.4.2.4zm.3.5c-.2-.2-.4-.2-.6.1 0 0 1.1.8 1.2.8.1 0 .2-.8.2-.9h-.8zm-8.8 2.8c-.1.3.5.5.5.2-.1-.3-.4-.5-.5-.2zm.7 1c.1 0 .2-.1.2-.2-.2-.2-.6.2-.2.2zm-.8.4c-.1.4.8.3.7-.1-.2 0-.5.1-.7.1zm.5.7c0 .5.8.6.8 0H3zm-1.9.4c.1.1 1.2 1.5 1.1.4 0-.1-1.1-1.1-1.1-.4zm1.5.6c.6.2.8.1.6-.5-.2.2-.4.3-.6.5zm6.9.6c.9.1 1.1-.1.8-.8-.6 0-.9.2-.8.8zm-.5-.3c0-.3-.6-.3-.7 0 .2.2.7.3.7 0zm-7.1.6l.8-.3c-.4-.2-.7-.1-.8.3zm7.7-.1c-.3-.2-.6-.1-.8.2.3.3.9.3.8-.2zm-.3.9c.1.1.8.6.9.5 0 0-.4-1.9-.9-.5zm.1.8c.1 0 .2-.2.2-.4-.3-.1-.5.3-.2.4zm-6.7 0c.4.6.6.5.6-.3-.1.1-.3.2-.6.3zm9.1 1.1c.5.3.5-.7.5-.8-.5.1-.6.3-.5.8zM8.4 39c-.4-.2-.3.5.4.1.8-.4-.6 0-.4-.1zm11.1.3c-.5.2-.4.4.1.5.4-.2.5-.5.3-.9-.2 0-.4.1-.4.4zm-1.7.3c-.4.5.7.3.7 0-.3-.1-.5-.1-.7 0zm-.7.2c.2 0 .2-.1.3-.2-.2-.2-.5 0-.3.2zm-8.8 0c.1 0 1.6.5 1.3-.2-.3 0-1.3-.1-1.3.2zm4.1.1c-.4.4-.4.5.2.3 0-.3-.4-1-.2-.3zm-6.9.2c-.8.1-1.9-.1-2 1.1.3 0 1.3-1.7 1.7-.6-.2 0-.4.2-.5.4.6.7.4-.1.8.6.6-.2.1-1.2 0-1.5zm5.5.2c-.6-.1.5.7.7 0-.3-.2-.5-.2-.7 0zm-1.1.2c.2 0 .2-.1.4-.1 0-.4-.4-.2-.4.1zm-.4 0c.1-.1.3 0 .4 0 0-.3-.6-.3-.4 0zm2.3.5c.1 0 .1-.1 0-.2.1.2 0 .2 0 .2zm-2 .1c-.3.7.4.9.9.8 0-.1-.3-1-.3-.9-.1-.1-.3-.1-.6.1zm1.4-.1c-.3.4-.2 1.7-.6 2.3 0 0 2.9-2.6 3-2-.2 0-2.7.1-2.4-.3zm3.4 1c-.4-.1-.8.1-1.1.4.6.9.9-.8.7.6.1 0 .9.1 1.1.2 0-1.1 0-.5-.7-1.2zm1.9.3c.2-.2 0-.4-.3-.3 0 .2.1.3.3.3zm-5.8.1c0 .2.3.1.3-.1-.1 0-.3 0-.3.1zm4.8.4c.4.4.6.3.7-.2-.2 0-.5 0-.7.2zm-1.8.1c.1.2.4-.1.1-.2 0 .1-.1 0-.1.2zm-1.8.1c-.4.7.7 1.3.9.6-.4-.4-.3-.4-.9-.6zm5.1.2c0 .4.8.4.9.2 0-.2-.7-.3-.9-.2zm-2.9.4c.2.1.5.1.5-.2-.2-.1-.5-.1-.5.2zm-1.2.1c.2 0 .5.1.5-.2-.1-.1-.5-.1-.5.2zm-1.6.2c0 .2-.2.9.1.9.5-.6.3-.3.5-1.1-.2.1-.4.2-.6.2zm2.7.2c.1-.1.1-.2 0-.3-.1.1-.2.2 0 .3zm2.8 0c.1.6.5.4.7.9-.1.1-.7.5-.7.6 1.9.6.1-2.4 0-1.5zm-2 .2c.1 0 .2-.1.3-.1 0-.3-.3-.1-.3.1zm-1.7-.1c.3-.4-.1 1.8-.1 1.6 1 .3 1.4-.1 1.2-1-.9.2-.5 0-.5-.7-.2.1-.4.1-.6.1zm-.7.1c-.1.3.5.4.5.1-.1-.3-.4-.3-.5-.1zm2.6.7c.3.1.6-.1.7-.3-.2-.2-.6 0-.7.3zm-2.7.3c.3.2.8.1.8-.3-.2.1-.9-.2-.8.3zm3.5.5c.1 0 .2-.1.2-.2-.1-.1-.3.1-.2.2zm-1.3.8c.2 0 .3-.1.3-.3-.2-.3-.6 0-.3.3zm1.8-.2c.1 0 .2.1.3.1.1-.1-.2-.2-.3-.1z')
                        span.icon.brushIconType(aria-hidden='true' style='width:14px;height:18px;line-height:18px')
                          svg(viewbox='0 0 14 18')
                            path(d='M2 3.7L10.3 9 2 14.3V3.7zM0 18l14-9L0 0v18z')
                .contentPadded
                  .itemTag
                    span news
                  h2.itemHeader
                    span Who is Too&apos;?
                  p.itemDesc
                    | Too&apos; is dead now. He lost his mind.
                  time.itemDate Nov 15, 2021
          .loadMore
            a.button.loadMoreBtn(href='#')
              span Load more
          footer.footer
            .footerInner
              .contentCenter
                .footerRow
                  .footerCol
                    .footerColInner
                      a.footerLogo(href='/')
                        span.icon(style='width:34px;height:35px;line-height:35px')
                          svg(viewbox='0 0 34 35')
                            path(d='M17.8 31.7l-1.6-4.1 15.3.8-.7 6.6zM21.4 0L0 10.2l3.3 15.3h4.4l-.8-11 .7-.2 2.6 11.2h4.6l-.2-13.4.7-.2 2.3 13.6h4.8l1.1-16.1.7-.2 1.2 16.3h6.4L34 3.1z')
                      .footerNav
                        nav
                          ul.footerNavUl
                            li
                              a(href='/en/press') Press
                            li
                              a(href='/en/security') Security
                            li
                              a(href='/en/legal') Legal
                            li
                              a(href='/en/leadership') Leadership
                            li
                              a(href='/en/candidate-privacy') Candidate Privacy
                            li
                              a(href='/en/terms-of-service') Terms of Service
                            li
                              a(href='/en/privacy-notice') Privacy Notice
                            li
                              a(href='https://support.riotgames.com/hc/en-us' target='_blank' rel='noopener noreferrer') Player Support
                            li
                              a(href='/en/e-verify-right-to-work') E-Verify
                            li
                              a(href='/en/accessibility') Accessibility
                    .footerColInner
                      .footerSNS
                        a(target='_blank' rel='noopener' href='https://www.facebook.com/RiotGames/')
                          span.icon(style='width:9px;height:16px;line-height:16px')
                            svg(viewbox='0 0 9 16')
                              path(d='M5.7 16V8.7h2.4l.4-2.8H5.7V4c0-.8.2-1.4 1.4-1.4h1.5V.1C8.4.1 7.5 0 6.5 0 4.3 0 2.8 1.3 2.8 3.8v2.1H.3v2.8h2.5V16h2.9z')
                        a(target='_blank' rel='noopener' href='https://twitter.com/riotgames')
                          span.icon(style='width:19px;height:14px;line-height:14px')
                            svg(viewbox='0 0 19 14')
                              path(d='M19 1.5c-.7.3-1.5.5-2.3.6.8-.4 1.4-1.1 1.7-2-.8.4-1.6.7-2.5.9-.7-.6-1.7-1-2.8-1-2.2 0-3.9 1.6-3.9 3.6 0 .3 0 .5.1.8C6 4.3 3.1 2.9 1.1.9.8 1.4.6 2 .6 2.6c0 1.2.7 2.3 1.8 2.9-.6 0-1.3-.2-1.8-.4C.6 6.8 2 8.2 3.8 8.5c-.3.1-.7.1-1 .1h-.7c.5 1.4 2 2.4 3.7 2.4-1.3 1-3 1.6-4.9 1.6H0c1.8 1 3.8 1.5 6.1 1.5 7.2-.1 11.1-5.5 11-10.2v-.5c.7-.5 1.4-1.1 1.9-1.9z')
                        a(target='_blank' rel='noopener' href='https://www.linkedin.com/company/riot-games')
                          span.icon(style='width:16px;height:16px;line-height:16px')
                            svg(viewbox='0 0 16 16')
                              path(d='M.3 5.3h3.3V16H.3z')
                              ellipse(cx='1.9' cy='1.9' rx='1.9' ry='1.9')
                              path(d='M16 16h-3.3v-5.2c0-1.2 0-2.8-1.7-2.8s-2 1.4-2 2.7V16H5.7V5.3h3.2v1.5C9.3 5.9 10.4 5 12 5c3.4 0 4 2.2 4 5.1V16z')
                        a(target='_blank' rel='noopener' href='https://www.youtube.com/riotgames')
                          span.icon(style='width:19px;height:13px;line-height:13px')
                            svg(viewbox='0 0 19 13')
                              path(d='M18.6 2.8s-.2-1.3-.7-1.8C17.2.3 16.4.3 16 .2 13.4 0 9.5 0 9.5 0S5.6 0 3 .2c-.4 0-1.1 0-1.9.8-.5.5-.7 1.8-.7 1.8s-.2 1.5-.2 3v1.4c0 1.5.2 3 .2 3s.2 1.3.7 1.8c.7.7 1.6.7 2 .8 1.6.2 6.4.2 6.4.2s3.9 0 6.5-.2c.4 0 1.1 0 1.9-.8.6-.6.7-1.8.7-1.8s.2-1.5.2-3V5.8l-.2-3zm-11 6.1V3.7l5 2.6-5 2.6z')
                .divider
                .footerRow.bottomFooter
                  .footerCol
                    .footerColInner
                      .footerLanguage
                        button.js-language-selector-trigger
                          span.icon(aria-hidden='true' style='width:16px;height:16px;line-height:16px')
                            svg(viewbox='0 0 16 16')
                              path(d='M8 0s-.1 0 0 0h-.3C3.4.2 0 3.7 0 8s3.4 7.8 7.7 8H8c4.4 0 8-3.6 8-8s-3.6-8-8-8zm7 7.5h-2.8c-.1-2.5-.8-4.7-1.8-6.1 2.5.9 4.4 3.3 4.6 6.1zM7.5 1.1v6.4h-3c.2-3.3 1.4-6.1 3-6.4zm0 7.4v6.4c-1.6-.4-2.8-3.1-3-6.4h3zm1 6.4V8.5h2.7c-.1 3.1-1.2 5.8-2.7 6.4zm0-7.4V1.1c1.5.6 2.6 3.2 2.7 6.4H8.5zm-3.2-6c-1 1.4-1.7 3.5-1.7 6H1c.2-2.7 1.9-5 4.3-6zM1 8.5h2.5c.1 2.5.7 4.6 1.7 6-2.3-1-4-3.3-4.2-6zm9.4 6.1c1.1-1.3 1.7-3.5 1.8-6.1H15c-.2 2.8-2.1 5.2-4.6 6.1z')
                          | &amp;nbsp English
                          span.icon(aria-hidden='true' style='width:8px;height:8px;line-height:8px')
                            svg(viewbox='0 0 8 8')
                              path(fill-rule='evenodd' clip-rule='evenodd' d='M8 3H5V0H3v3H0v2h3v3h2V5h3z')
                      .footerCookies
                        span.icon.is-hidden-mobile(aria-hidden='true' style='width:2px;height:20px;line-height:20px')
                          svg(viewbox='0 0 2 40')
                            path(d='M1.7 4.2s.1-.1 0-.1c.1-.3 0-1.8 0-2.1.1-.5 0-.8.2-1.2 0 0-.2-.5-.2-.1 0-.2-.1 0-.2 0V.6C1.4.6.9.6.9.3.7.5.5.1.3.3.1.5.3 1.4.3 1.7c-.1.4-.1 1.2-.1 2-.1 3 0 6.1-.1 9.1 0 1 0 2-.1 3 0 1.6.2 3.2.2 4.8 0 2.7-.1 5.5 0 8.2 0 2 0 4 .1 5.9.1 1 .2 2.6 0 3.3-.1.2 0 .7 0 .9 0 .1.1.5.1.4.3 0 .2.6.4.7.4.3.5-.4.6-.7.3.3.2-.8.2-1v-8.6c0-3.5.1-7 .1-10.5v-4.5c0-.3-.1-1 .1-1.2V8.9c0-.8-.1-1.6 0-2.4 0-.5-.1-1.4.1-1.7-.2-.2-.2-.4-.2-.6M1.8.5s0 .1 0 0zM.3 38.3zM1.8.7c0-.1 0-.1 0 0z')
                        button.js-cookie-preference-trigger Cookie Preferences
                      .footerMark
                        span.icon.is-hidden-mobile(aria-hidden='true' style='width:2px;height:20px;line-height:20px')
                          svg(viewbox='0 0 2 40')
                            path(d='M1.7 4.2s.1-.1 0-.1c.1-.3 0-1.8 0-2.1.1-.5 0-.8.2-1.2 0 0-.2-.5-.2-.1 0-.2-.1 0-.2 0V.6C1.4.6.9.6.9.3.7.5.5.1.3.3.1.5.3 1.4.3 1.7c-.1.4-.1 1.2-.1 2-.1 3 0 6.1-.1 9.1 0 1 0 2-.1 3 0 1.6.2 3.2.2 4.8 0 2.7-.1 5.5 0 8.2 0 2 0 4 .1 5.9.1 1 .2 2.6 0 3.3-.1.2 0 .7 0 .9 0 .1.1.5.1.4.3 0 .2.6.4.7.4.3.5-.4.6-.7.3.3.2-.8.2-1v-8.6c0-3.5.1-7 .1-10.5v-4.5c0-.3-.1-1 .1-1.2V8.9c0-.8-.1-1.6 0-2.4 0-.5-.1-1.4.1-1.7-.2-.2-.2-.4-.2-.6M1.8.5s0 .1 0 0zM.3 38.3zM1.8.7c0-.1 0-.1 0 0z')
                        |                                                 &copy; 2021 Riot Games, Inc. All Rights Reserved. Website UI Cloned by Aki.
                  .footerCol.monospace
                    .footerColInner
                      .topLink
                        a(href='#top')
                          | To the Surface &nbsp;
                          span.icon(aria-hidden='true' style='width:8px;height:7px;line-height:7px')
                            svg(viewbox='0 0 8 7')
                              path(d='M8 6.6c-.2.3-.4.4-.8.4H6c-.4-.1-.7-.2-1-.1-.6.1-1.3.1-1.9.1-.4 0-.7-.2-1.1-.1-.5.2-1.1 0-1.8.1-.1-.4-.2-.8-.2-1.3 0-.2-.1-.4.1-.6.1-.1.1-.2.2-.2s.1-.1.2-.1c.3-.1.3-.2.5-.5v-.6c.3-.5.8-.8 1-1.4 0 0 0-.1-.1-.1 0 0 0-.1.1-.1 0-.2-.1-.4-.1-.5.3-.5.7-.8 1-1.2.1-.2.3-.3.4-.4h.3c.3.4.4.8.5 1.2.5.6 1 1.2 1.6 1.8.2.3.3.5.4.8.2.4.5.7.8 1 .1.1.2.1.4.2.1 0 .3.1.4.1.1.3.2.6.2 1 0 .2.1.3.1.5z')
  script(src='./js/script.js')
  script(src='./js/news.js')
